@import "../../static/styles/variables";
@import "../../static/styles/mixins";

@keyframes background-animation {
    0% { opacity: 0.07 }
    50% { opacity: 0.04 }
    100% { opacity: 0.07}
}

@keyframes image-animation {
    from { 
        transform: translateY(100px);
        opacity: 0; 
    }
    to { 
        transform: translateY(0);
        opacity: 1; 
    }
}

.ob-product-grid {
    position: relative;
    overflow: hidden;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    scroll-snap-stop: always;

    @include media-up(sm) {
        width: auto;
    }

    @include media-down(sm) {
        &.ob-product-grid--carrousel {
            overflow-x: scroll;
            @include no-scrollbar;
        }
    }
}

.ob-product-grid--carrousel {
    @include media-down(sm) {
        &.ob-product-grid, .ob-product-grid-collapsible, 
        .ob-product-grid-first-line {
            justify-content: flex-start;
            flex-wrap: nowrap;
        }
    }
}

.ob-product-grid-snap-hack {
    .ob-product-grid--carrousel & {
        scroll-snap-align: start;
        position: absolute;
        top: 0;
        width: 100%;
        display: block;
        height: 0;
    }
    @include media-up(sm) {
        display: none;
    }
}

.ob-product-grid-collapsible {
    width: 100%;
}

.ob-product-grid, .ob-product-grid-collapsible, .ob-product-grid-first-line {
    display: flex;
    flex-direction: row; 
    justify-content: center;
    flex-wrap: wrap;
}

.ob-product-grid:not(.ob-product-grid--carrousel) {
    .ob-product-grid-collapsible {
        width: 100% !important;
    }
}

.ob-product-grid-first-line {
    flex: none;

    .ob-product-grid:not(.ob-product-grid--carrousel) & {
        width: 100% !important;
    }

    @include media-up(sm) {
        width: 100% !important;
    }

    @include media-down(sm){
        .ob-product-grid-product-wrapper {
            .ob-product-grid--carrousel & {
                flex: 1;
            }
        }
    }
}

.ob-product-grid-collapsible-wrapper {
    flex: none;
    height: 0;
    opacity: 0;
    transform: translateY(-30px);
    pointer-events: none;
    visibility: hidden;

    .ob-product-grid.enter &,
    .ob-product-grid.exit & {
        transition: height 400ms ease-in-out, 
            opacity 400ms ease-in-out, 
            transform 400ms ease-in-out;
        visibility: visible;
    }

    .ob-product-grid.enter-active &,
    .ob-product-grid.enter-done & {
        opacity: 1;
        transform: translateY(0);
        pointer-events: all;
        visibility: visible;
    }

    .ob-product-grid.enter-done & {
        height: auto !important;
    }

    .ob-product-grid.exit-active &,
    .ob-product-grid.exit-done & {
        height: 0 !important;
    }

    .ob-product-grid.exit-active & {
        visibility: visible;
    }

    .ob-product-grid:not(.ob-product-grid--carrousel) & {
        width: 100% !important;
    }

    @include media-up(sm) {
        width: 100% !important;
    }

    @include media-down(sm){

        .ob-product-grid.ob-product-grid--carrousel & {
            opacity: 1;
            transform: translateY(0);
            pointer-events: all;
            height: auto !important;
            width: auto;
            visibility: visible;
            .ob-product-grid.exit-done & {
                height: auto !important;
            }
            .ob-product-grid-product-wrapper {
                .ob-product-grid--carrousel & {
                    flex: 1;
                }
            }
        }
        
    }
}

.ob-product-grid-product-wrapper {
    flex: none;
    @include media-down(sm) {
        height: auto;
        width: 100% !important;
    }
}

.ob-product-grid__product {
    display: table;
    height: 100%;
    width: 100%;
    padding: 3rem;
    box-sizing: border-box;
    .ob-product-grid-first-line & {
        @include media-up(sm) {
            .ob-product-grid__product-image {
                opacity: 0;
                transform: translateY(100px);
            }
            .ob-product-grid__product-content {
                opacity: 0;
            }
            .ob-product-grid--shown & {
                .ob-product-grid__product-image {
                    animation-name: image-animation;
                    animation-duration: 1s;
                    animation-fill-mode: forwards;
                }
                .ob-product-grid__product-content {
                    animation-name: opacity;
                    animation-duration: 1s;
                    animation-fill-mode: forwards;
                }
            }
        }
    }
}

.ob-product-grid__product-image-wrapper-1 {
    display: table-row;
}

.ob-product-grid__product-image-wrapper-2 {
    display: table-cell;
}

.ob-product-grid__product-image-wrapper-3 {
    width: 60%;
    margin: 0 auto;
 
    width: 100%;
    max-width: 210px;

    @include media-down(sm) {
        .ob-product-grid.ob-product-grid--carrousel & {
            width: 60%;
            max-width: none;
        }
        .ob-product-grid:not(.ob-product-grid--carrousel) & {
            width: 40%;
            max-width: none;
        }
    }
}

.ob-product-grid__product-image-wrapper-4 {
    position: relative;
    @include media-down(sm) {
        padding-bottom: 50vh !important;
        .ob-product-grid:not(.ob-product-grid--carrousel) & {
            padding-bottom: 0 !important;
        }
    }
}

.ob-product-grid__product-image {
    position: absolute;
    top: 0;
    left: 0; 
    bottom: 0;
    right: 0;

    @include media-down(sm) { 
        .ob-product-grid:not(.ob-product-grid--carrousel) & {
            position: static;
        }
    }

    .ob-mainAsset-wrapper {
        height: 100%;
        width: 100%;
        position: relative;
        text-align: center;
        @include media-down(sm) {
            .ob-product-grid:not(.ob-product-grid--carrousel) & {
                height: auto;
            }
        }
    }
    img {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        max-height: 100%;
        max-width: 100%;

        @include media-down(sm) {
            width: auto;
            .ob-product-grid:not(.ob-product-grid--carrousel) & {
                max-height: none;
                position: static;
                transform: translateX(0);
            }
        }
    }
}

.ob-product-grid__product-image-placeholder {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-bottom: 100%;

    animation-delay: 0s;

    .white-text & {
        background-color: rgb(235, 235, 235);
    }
}

.ob-product-grid__product-content-wrapper-1 {
    display: table-row;
}

.ob-product-grid__product-content-wrapper-2 {
    display: table-cell;
    height: 100%;
}

.ob-product-grid__product-content {
    display: table;
    height: 100%;
    width: 100%;
    margin: 0 auto;

    @include media-up(sm) {
        .ob-product-grid__product--placeholder & {
            max-width: 210px;
        }
    }
}

.ob-product-grid__product-lower-content {
    height: 100%;
    vertical-align: bottom;
    padding: rem(15) 0;
}

.ob-product-grid__product-upper-content {
    padding-top: rem(20);
    @include body-1-xs;

    @include media-up(sm) {
        @include body-3-xl;
    }
}

.ob-product-grid__product-upper-content-wrapper,
.ob-product-grid__product-lower-content-wrapper {
    display: table-row;
}

.ob-product-grid__product-upper-content, 
.ob-product-grid__product-lower-content {
    display: table-cell;
    text-align: center;
    .white-text & {
        color: $base-color__white;
    }
}

.ob-product-grid__product-upper-content-placeholder {
    display: block;
    width: 50%;
    height: rem(16);
    margin: rem(4) auto;

    animation-delay: 0.4s;

    @include media-up(sm) {
        .ob-product-grid__product--placeholder & {
            width: 80%;
        }
    }
} 

.ob-product-grid__product-link {
    display: block;
    margin-bottom: rem(25);
    text-align: center;
    @include text-link-2-xl;
    .white-text & {
        color: $base-color__white;
    }
}

.ob-product-grid__product-link-placeholder {
    display: block;
    margin-bottom: rem(6);
    width: 35%;
    margin-left: auto;
    margin-right: auto;
    height: rem(14);
    margin-top: rem(6);

    animation-delay: 0.80s;

    @include media-up(sm) {
        .ob-product-grid__product--placeholder & {
            width: 60%;
        }
    }
}

.ob-product-grid__button-placeholder {
    display: inline-block;
    margin: rem(24);
    height: rem(14);
    width: 40%;
    position: relative;

    animation-delay: 1.2s;

    @include media-up(sm) {
        .ob-product-grid__product--placeholder & {
            width: 65%;
        }
    }
}


.ob-product-grid__product-image-placeholder,
.ob-product-grid__product-upper-content-placeholder,
.ob-product-grid__product-link-placeholder,
.ob-product-grid__button-placeholder {
    opacity: 0.07;

    animation-name: background-animation;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;

    background: black;
}

.ob-product-grid__see-more-wrapper {
    text-align: center;
    padding: 1rem 0;
    display: none;

    .ob-product-grid.ob-product-grid:not(.ob-product-grid--carrousel) & {
        display: block;
    }

    @include media-up(sm) {
        display: block;
    }
}

.ob-product-grid__progress-bar {
    @include media-up(sm) {
        display: none;
    }
}

.ob-product-grid:not(.ob-product-grid--carrousel) 
    + .ob-product-grid__progress-bar {
    display: none;
}