@import "../../static/styles/variables";
@import "../../static/styles/mixins";

.ob-app-download-wrapper-1 {
    overflow: hidden;
}

.ob-app-download-wrapper-2 {
    display: table;
    width: 200%;
    table-layout: fixed;
}

.ob-app-download-wrapper-3 {
    display: table-row;
}

.ob-app-download,
.ob-app-download-ratios {
    width: 100%;
}

.ob-app-download-ratio {
    width: 100%;
    &[data-format="mobile"] {
        display: block;
        @include media-up(sm) {
            display: none;
        }
    }
    &[data-format="desktop"] {
        display: none;
        @include media-up(sm) {
            display: block;
        }
    }
}

.ob-app-download {
    display: table-cell;
    position: relative;
    vertical-align: middle;
}

.ob-app-download-ratios {
    display: table-cell;
    visibility: hidden;
}

.ob-app-download-mobile-background,
.ob-app-download-desktop-background {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0; 
    right: 0;
    .ob-background-wrapper {
        height: 100%;
        width: 100%;
        min-height: 0 !important;
    }
}

.ob-app-download-mobile-background {
    visibility: visible;
    @include media-up(sm) {
        visibility: hidden;
    }  
}

.ob-app-download-desktop-background {
    visibility: hidden;
    @include media-up(sm) {
        visibility: visible;
    }  
}

.ob-app-download-content-wrapper {
    position: relative;
    @include container-wrapper;
}

.ob-app-download-content {
    width: 65%;
    @include media-up(sm) {
        width: 50%;
    }
}

.ob-app-download-eyebrow {
    @include eyebrow-1-xl;
    color: white;
    margin: rem(16) 0;
}

.ob-app-download-heading {
    @include display-2-xl;
    color: white;
    margin: rem(16) 0;
}

.ob-app-download-store {
    display: inline-block;
    margin-right: 18px;
    margin-bottom: 18px;
    img[data-format="mobile"] {
        display: block;
        height: 50px;
        @include media-up(sm) {
            display: none;
        }
    }
    img[data-format="desktop"] {
        display: none;
        height: 65px;
        @include media-up(sm) {
            display: block;
        }
    }
}