@import "../../static/styles/variables";
@import "../../static/styles/mixins";

$minimum-width-mobile: 40vw;
$chart-mobile-horizontal-padding: 39px;

.ob-comparison-chart {
    width: 100%;

    @include media-up(sm) {
        @include container-wrapper;
    }

    position: relative;
}

.ob-comparison-chart-title {
    @include display-3-xl;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}

.ob-comparison-chart-wrapper-1 {
    position: relative;
}

.ob-comparison-chart-fade-left, .ob-comparison-chart-fade-right{
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 20%;
    pointer-events: none;
    @include media-up(sm) {
        display: none;
    }
}

.ob-comparison-chart-fade-left{
    left: 0;
    opacity: 0;
    background-image: linear-gradient(to left, rgba(255,255,255,0) , rgba(255,255,255,1));
} 

.ob-comparison-chart-fade-right{
    right: 0;
    background-image: linear-gradient(to right, rgba(255,255,255,0) , rgba(255,255,255,1));
}

.ob-comparison-chart-wrapper-2 {
    padding: rem(18) 0;
    position: relative;
    overflow-x: auto;
    width: 100%;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    @include no-scrollbar;
    @include media-up(sm) {
        width: auto;
    }
}

.ob-comparison-chart-snap-hack {
    height: 0;
    scroll-snap-align: start;
    position: absolute;
    top: 0;
    width: $minimum-width-mobile;
}

.ob-comparison-chart-table {
    display: table;
    table-layout: fixed;
    @include media-up(sm) {
        width: 100% !important;
    }
}

.ob-comparison-chart-row {
    display: table-row;
}

.ob-comparison-chart-cell {
    display: table-cell;
    box-sizing: content-box;
    @include media-down(sm) {
        width: $minimum-width-mobile;
        &:first-child {
            padding-left: $chart-mobile-horizontal-padding;
        }
        &:last-child {
            padding-right: $chart-mobile-horizontal-padding;
        }
    }
}

.ob-comparison-chart-image {
    padding-bottom: 18px;
}

.ob-comparison-chart-header {
    font-size: rem(16);
    color: $base-color-primary-blue;
    @include font-family('demi');
}

.ob-comparison-chart-short-title {
    text-transform: uppercase;
}

.ob-comparison-chart-price-range {
    font-size: rem(18);
    color: $base-color-primary-grey;
    font-weight: bold;
    padding-bottom: rem(30);
}

.ob-comparison-chart-feature-cell {
    border-top: 1px solid $base-color-secondary-grey;
    padding: rem(24) rem(16) rem(24) 0;
    color: $base-color-primary-grey;
    font-size: rem(16); 
    * {
        display: inline;
    }
}