@import "../../static/styles/variables";
@import "../../static/styles/mixins";

.ob-product-recommender {
    padding: 40px 24px 0;

    @include media-up(sm) {
        padding: 22px 24px;
    }
}

.ob-product-recommender__wrapper {
    max-width: $oralb-max-desktop-width;
    margin: 0 auto;
}

.ob-product-recommender__heading,
.ob-product-recommender__body-text,
.ob-product-recommender__eyebrow {
    text-align: center;
    color: $base-color-primary-grey;
}

.ob-product-recommender__eyebrow {
    @include eyebrow-1-xs;
    margin: rem(8) 0;
}

.ob-product-recommender__heading {
    @include display-3-xs;
    margin: rem(8) 0;
}

.ob-product-recommender__body-text {
    @include body-1-xs;
    margin: rem(20) 0;
}

.ob-product-recommender__products {
    @include media-up(md) {
        padding: 10px;
    }
}

.ob-product-recommender__side-by-side {
    @include media-up(sm) {
        display: flex;
    }
}

.ob-product-recommender__side--text {
    @include media-up(sm) {
        flex: 0 1 auto;
        box-sizing: content-box;
        width: 500px;
        margin: 0 0 0 auto;
        padding-top: 60px;

        .ob-product-recommender__side-by-side--product-first & {
            margin: 0 auto 0 0;
            padding-left: 30px;
        }
    }
}

.ob-product-recommender__side--product {
    @include media-up(sm) {
        flex: 0 1 auto;
        box-sizing: content-box;
        width: 450px;
        margin: 0 auto 0 22px;
        padding: 0 30px 0 0;

        .ob-product-recommender__side-by-side--product-first & {
            margin: 0 22px 0 auto;
            padding: 0 0 0 59px;
            order: -1;
        }
    }
}

.ob-product-recommender__side-eyebrow {
    @include eyebrow-1-xl;
    margin: 0 0 rem(8);
}

.ob-product-recommender__side-heading {
    @include display-2-xl;
    margin: 0 0 rem(14);
}

.ob-product-recommender__side-body {
    @include body-1-xl;
}

.ob-product-recommender__side-heading,
.ob-product-recommender__side-eyebrow,
.ob-product-recommender__side-body {
    text-align: center;

    @include media-up(sm) {
        text-align: left;
    }
}
