@import "../../static/styles/mixins";

.ob-mini-nav {
    @include body-3-xl;
    background: $base-color-secondary-darker-off-white;
    overflow: hidden
    ;
    @include media-up(md) {
        padding: 1.7rem 0;
        background: transparent;
    }

    &.grey-background {
        background: $base-color-secondary-darker-off-white;
    }

    &__list {
        max-width: 950px;
        margin: 0 auto;
        padding: 0;
        display: flex;
        list-style-type: none;
        justify-content: center;
        flex-direction: column;

        @include media-up(md) {
            flex-direction: row;
            justify-content: space-evenly;
            align-items: flex-end;
        }
    }

    &__list-item {
        text-align: center;
        padding: 1rem;
        border-bottom: 1px solid transparentize($base-color-primary-grey, 0.8);

        &:first-child {
            border-top: 1px solid transparentize($base-color-primary-grey, 0.8);

            @include media-up(md) {
                margin-left: 0;
                margin-top: 0;
                border-top: none;
            }
        }

        &:last-child {
            @include media-up(md) {
                margin-right: 0;
            }
        }

        @include media-up(md) {
            text-align: left;
            border-bottom: none;
        }

        a {
            font-size: 1.4rem;
            line-height: 1.8rem;
            @include font-family('demi');
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }

    .ob-mainAsset-wrapper {
        margin-bottom: 1rem;
    }

    &__title {
        @include text-link-2-xs;
        display: block;
        margin: 0 0;
        width: 100%;
        outline: none;
        position: relative;
        height: 6.4rem;
        text-transform: uppercase;
    }

    &__icon {
        display: flex;
        align-items: center;
        position: absolute;
        top: 0;
        right: 5%;
        bottom: 0;
        left: auto;
        transform: rotate(0deg);
        transition: all linear 0.2s;

        &.is-open {
            transform: rotate(-180deg);
        }
    }
}