@import "../../static/styles/variables";
@import "../../static/styles/mixins";

$search-bar-height: rem(51);

.ob-search-bar {
    height: $search-bar-height;
    position: relative;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    input[type="text"] {
        height: 100%;
        width: 100%;
        border: 1px solid #9B9B9B;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        color: #0057B8;
        font-size: rem(22);
        padding: 0 $search-bar-height 0 rem(15);
        &:focus {
            outline: none;
        }
        &:-ms-input-placeholder {
            color: #0057B8 !important;
        }
        
        &::placeholder {
            color: #0057B8;
        }
    }
}

.ob-search-bar-icon {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: $search-bar-height;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.ob-search-bar-autocomplete {
    background-color: #ffffff;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    padding: rem(33) rem(40);
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-color: #9B9B9B;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.ob-search-bar-autocomplete-title {
    font-size: rem(16);
    color: #3D3D41;   
}

.ob-search-bar-autocomplete-results {
    margin: rem(10) 0 0 0;
    list-style-type: none;
    padding: 0;
    li {
        color: #0057B8;
        font-size: rem(16);
        margin: rem(5) 0;
        cursor: pointer;
    }
}