@import "../../static/styles/mixins";

.ob-SpotlightStickyBar {
    width: 100%;
    position: fixed;
    background: $base-color-primary-blue;
    z-index: map-get($zindex, header);
    &__wrapper {
        @include container-wrapper;
        height: $ob-sticky-bar-height;
        display: flex;
        align-items: center;
        justify-content: space-between;    
        position: relative;
        @include media-down(md) {
            height: $ob-sticky-bar-height-mobile;
        }
        
    }
    &-link.ob-link {            
        display: none;
        @include media-up(sm) {
            display: block;
        }
        .ob-mainAsset-wrapper {
            width: 114px;
            img {
                max-width: 100%;
                display: block;
            }
        }
    }
    &__eyebrow-container {
        left: 0;
        padding-right: 2rem;

        @include media-up(sm) {
            left: 50%;
            padding-right: 0;
            position: absolute;
        }
        .ob-eyebrow {
            top: .2rem;
            position: relative;
            font-size: 1.6rem;
            @include media-up(sm) {
                font-size: 1.8rem;
                left: -50%
            }
        }
    }
    .ob-button {
        flex-shrink: 0;
        justify-self: flex-end;
        margin-left: auto;
        font-size: 1.6rem;
        height: 4rem;

        @include media-up(sm) {
            font-size: 1.8rem;
            padding: 0 3.7rem;
        }
    }
}