@import "../../static/styles/mixins";

.ob-eyebrow {
    @include eyebrow-1-xl;
    &[data-white-text='true'] {
        color: $base-color__white;
    }
    &[data-blue-text='true'] {
        color: $base-color-primary-blue;
    }
}