@import "../../static/styles/mixins";

.#{$ob}-button {
    @include font-family('demi');
    font-size: 1.2rem;
    align-items: center;
    background: $base-color-primary-blue;
    border-radius: 72px;
    border: none;
    color: $base-color__white;
    cursor: pointer;
    display: inline-flex;
    height: 4.8rem;
    padding: 2rem 3rem;
    text-decoration: none;
    transition: all 0.4s ease;
    @include media-up(md) {
        padding: 3rem 4.5rem;
        font-size: 1.4rem;
    }
    > * {
        pointer-events: none;
    }
    &:link {
        color: $base-color__white;
    }
    &:visited {
        background: $base-color-primary-blue;
        color: $base-color__white;
    }
    span {
        position: relative;
        top: .1rem;
    }
    &:hover,
    &:focus {
        text-decoration: none;
        background: $base-color-tertiary-blue;
    }
    &[data-white-theme='true'] {
        background: $base-color__white;
        color: $base-color-primary-blue;
        &:visited {
            background: $base-color__white;
            color: $base-color-primary-blue;
        }
        &:hover,
        &:focus {
            text-decoration: none;
            background: $base-color-light-grey;      
        }
    }
    &[data-grey-theme='true'] {
        background: $base-color__white;
        color: $base-color-primary-grey;
        border: 1px solid $base-color-isolate-grey;
        @include font-family('demi');
        &:visited {
            background: $base-color__white;
            color: $base-color-primary-grey;
            border: 1px solid $base-color-isolate-grey;
        }
        &:hover,
        &:focus {
            text-decoration: none;
            color: $base-color-primary-blue;
            border: 1px solid $base-color-primary-blue;
        }
    }
    &[data-inverted-theme='true'] {
        background: transparent;
        color: $base-color__white;
        border: 1px solid $base-color__white;
        &:visited {
            background: transparent;
            color: $base-color__white;
            border: 1px solid $base-color__white;
        }
        &:hover,
        &:focus {
            text-decoration: none;
            background: $base-color-proxima-grey;
            color: $base-color-primary-blue;
            border: 1px solid $base-color-proxima-grey;
        }
    }
    &[data-border-theme='true'] {
        background: transparent;
        color: $base-color-primary-grey;
        border: 1px solid $base-color-isolate-grey;
        &:visited {
            background: transparent;
            color: $base-color-primary-grey;
            border: 1px solid $base-color-isolate-grey;
        }
        &:hover,
        &:focus {
            text-decoration: none;
            background: $base-color-proxima-grey;
            color: $base-color-primary-blue;
            border: 1px solid $base-color-proxima-grey;
        }
    }
    &[data-size='large'] {
        height: 6.4rem;
        padding: 0 4rem;
    }
    &[data-size='medium'] {
        height: 4.8rem;
        padding: 0 3rem;
    }
    &[data-size='small'] {
        height: 4.8rem;
        padding: 0 1.5rem;
    }
}
button.#{$ob}-button {
    padding: 0 5rem;
    height: 6.4rem;
}

.ob-outline-button {
    @include font-family('demi');
    box-sizing: border-box;
    padding: 13px 20px 12px;
    border: 1px solid $base-color-outline-blue;
    border-radius: rem(20);
    line-height: (18 / 14);
    background: white;
    color: $base-color-outline-blue;
    font-size: rem(14);
    cursor: pointer;
    vertical-align: middle;
    text-decoration: none;

    &:focus, &:hover {
        outline: none;
        text-decoration: underline;
    }
}

.ob-outline-button--active, .ob-outline-button[aria-checked='true'] {
    background: $base-color-outline-blue;
    color: white;
}

.ob-outline-button--disabled, .ob-outline-button:disabled {
    opacity: 0.5;
}
