@import "../../static/styles/variables";
@import "../../static/styles/mixins";

.ob-product-grid-block {
    position: relative;
}

.ob-product-grid-block-wrapper {
    position: relative;
    margin: 0 auto;
    max-width: $oralb-max-desktop-width;
    padding: rem(22) rem(10);
}

.ob-product-grid-block__heading, 
.ob-product-grid-block__body-text, 
.ob-product-grid-block__eyebrow {
    padding: 0 rem(10);
    text-align: center;
    color: $base-color-primary-grey;
}

.ob-product-grid-block__eyebrow {
    @include eyebrow-1-xs;
    margin: rem(8) 0;
}

.ob-product-grid-block__heading {
    @include display-3-xs;
    margin: rem(8) 0;
}

.ob-product-grid-block__body-text {
    @include body-1-xs;
    margin: rem(20) 0;
}

.ob-product-grid-block__product-grid-wrapper{
    @include media-up(md) {
        padding: 1rem;
    }
} 

.radial-background {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 73%);
    z-index: 0;
}