@import "../../static/styles/mixins";

$button-size: rem(45);

.ob-faq {
    margin: 0 auto;
    max-width: $oralb-max-desktop-width;
    padding: rem(24);
}

.ob-faq__search-title {
    font-size: rem(16);
    color: #4A4A4A;
    margin: rem(10) 0;
}

.ob-faq__search-bar-wrapper {
    padding: rem(10) 0;
}

$search-bar-height: rem(51);

.ob-faq__search-bar {
    height: $search-bar-height;
    position: relative;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    input[type="text"] {
        height: 100%;
        width: 100%;
        border: 1px solid #9B9B9B;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        color: #0057B8;
        font-size: rem(22);
        padding: 0 $search-bar-height 0 rem(15);
        &:focus {
            outline: none;
        }
    }
}

.ob-faq__search-bar-icon {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: $search-bar-height;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.ob-faq__search-bar-autocomplete {
    background-color: #ffffff;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    padding: rem(33) rem(40);
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-color: #9B9B9B;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.ob-faq__search-bar-autocomplete-title {
    font-size: rem(16);
    color: #3D3D41;   
}

.ob-faq__search-bar-autocomplete-results {
    margin: rem(10) 0 0 0;
    list-style-type: none;
    padding: 0;
    li {
        color: #0057B8;
        font-size: rem(16);
        margin: rem(5) 0;
        cursor: pointer;
    }
}

.ob-faq__popular-topics {
    margin-top: rem(56);
}

.ob-faq__popular-topics-title {
    font-size: rem(16);
    color: #4A4A4A;
    margin: rem(10) 0 0 0;
}

.ob-faq__popular-topics-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 (-(rem(10)));
}

.ob-faq__popular-topics__toggle-wrapper {
    margin: rem(10);
}

.ob-faq__search-results {
    margin: rem(20) 0;
}

.ob-faq__search-results-title {
    font-size: rem(20);
    color: $base-color-primary-grey;
    margin: rem(58) 0 rem(16);
}


.ob-faq__qa {
    border-top: 1px solid $base-color-secondary-grey;
}

.ob-faq__question {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    cursor: pointer;

    &:link, &:visited, &:hover, &:active {
        text-decoration: none;
    }
}

.ob-faq__question-toggle-wrapper {
    padding: rem(16) rem(16) rem(16) 0;
    line-height: rem(20);
    flex: none;
}

.ob-faq__question-toggle {
    display: inline-flex;
    height: rem(20);
    width: rem(20);
    border-radius: 100%;
    background-color: $base-color-primary-blue;
    justify-content: center;
    align-items: center;

    svg {
        width: rem(10);
        height: rem(10);
    }

    path, rect {
        fill: #ffffff;
    }
}

.ob-faq__question-text {
    flex: 1;
    padding: rem(16) rem(16) rem(16) 0;
    line-height: rem(20);
    font-size: rem(20);
    color: $base-color-primary-grey
}

.ob-faq__qas {
    border-bottom: 1px solid $base-color-secondary-grey;
}

.ob-faq__answer {
    height: 0;
    opacity: 0;
    transform: translateY(-30px);
    pointer-events: none;
    font-size: rem(16);
    color: $base-color-primary-grey;

    .ob-faq__qa.enter &,
    .ob-faq__qa.exit & {
        transition: height 400ms ease-in-out, opacity 400ms ease-in-out, transform 400ms ease-in-out;
    }

    .ob-faq__qa.enter-active &,
    .ob-faq__qa.enter-done & {
        opacity: 1;
        transform: translateY(0);
        pointer-events: all;
    }

    .ob-faq__qa.enter-done & {
        height: auto !important;
    }

    .ob-faq__qa.exit-active &,
    .ob-faq__qa.exit-done & {
        height: 0 !important;
    }

    li {
        font-size: rem(16);
    }

    &:before {
        height: rem(10);
    }

    &:after {
        height: rem(16);
    }

    &:after, &:before {
        content: '';
        display: block;
    }
}

.ob-faq__answer-helpfulness {
    margin-top: rem(24);
}

.ob-faq__answer-helpfulness__response {
    display: inline-block;
    margin: 0 rem(10);
}
