@import "../../static/styles/variables";
@import "../../static/styles/mixins";

.ob-recently-viewed-block {
    background-color: rgb(61, 61, 65);
}

.ob-recently-viewed-block-wrapper {
    margin: 0 auto;
    max-width: $oralb-max-desktop-width;
    padding: rem(22) rem(10);
}

.ob-recently-viewed-block__heading {
    padding: 0 rem(10);
    text-align: center;
    color: $base-color-primary-grey;
}

.ob-recently-viewed-block__heading {
    @include display-3-xs;
    margin: rem(8) 0;
}

.ob-recently-viewed-block__product-grid-wrapper{
    @include media-up(md) {
        padding: 1rem;
    }
} 