@import "../../static/styles/mixins";

.ob-spotlightVideo {

    &-container {
        position: relative;
        z-index: map-get($zindex, negative);

        .video-js {
            &.vjs-fluid {
                height: calc(100vh - #{$ob-sticky-bar-height-mobile});
                padding-top: 0;

                @include media-up(md) {
                    height: calc(100vh - #{$ob-sticky-bar-height});
                }
            }

            .vjs-tech {
                object-fit: cover;
            }
        }

        .cld-video-player.vjs-paused,
        .cld-video-player.vjs-paused.vjs-has-started {

            .vjs-big-play-button {
                opacity: 0;
                visibility: hidden;
            }
        }
    }

    &__intro {
        margin-top: 2.4rem;
        padding: 0 4rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        position: absolute;
        top: 0;
        bottom: auto;
        left: 0;
        right: 0;

        .ob-bodyText {
            font-size: 2rem;
            text-align: center;
        }

        &-image {
            width: 80px;
            margin-right: 1.5rem;

            img {
                max-width: 100%;
            }
        }

        opacity: 0;
        transition: opacity .6s linear;

        .step-1 & {
            transition: opacity .6s linear;
            opacity: 1;
        }

        &.hide {
            opacity: 0;
        }

        @include media-down(sm) {
            flex-direction: column;
            align-items: center;
            padding: 0 2rem;
            margin-top: 1.5rem;

            &-image {
                width: 61px;
                margin-right: 0;
            }

            .ob-bodyText {
                font-size: 1.6rem;
                line-height: 2.4rem;
                margin-top: 1.1rem;
            }
        }
    }

}