@import '../../static/styles/mixins';

.ob-product-sub-nav {
    background: $base-color-secondary-darker-off-white;

    &.is-sticky {
        position: fixed;
        top: auto;
        width: 100%;
        z-index: map-get($zindex, productSubNav);

        + div {
            transition: padding-top 0.35s ease-in-out;
            padding-top: 64px;
            @include media-up(md) {
                padding-top: 96px;
            }
        }
        &.is-top-false {
            transition: top 0.35s ease-in;
        }

        &.is-top-true {
            transition: top 0.35s ease-out;
        }
    }


    &__container {
        max-width: calc(#{$oralb-max-desktop-width} - 71px);
        margin: 0 auto;
        padding: 0 1.6rem;
        display: flex;
        justify-content: space-between;
        @include media-up(md) {
            padding: 1.6rem;
        }
        
        &--desktop {
            display: none;
            @include media-up(md) {
                display: flex;
            }
        }
        
        &--mobile {
            @include media-up(md) {
                display: none;
            }
        }
    }

    &__top {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;
        @include media-up(md) {
            width: auto;
            flex-direction: column;
        }
    }

    &__title {
        font-size: 1.8rem;
        color: $base-color-primary-grey;
        display: flex;
        @include font-family('demi');

        .ob-icon {
            margin-left: 2rem;
        }
    }

    .ob-page-navigation__list {
        justify-content: flex-start;
        width: 100%;
        border-top: 1px solid $base-color-secondary-grey;
        overflow: hidden;
        @include media-up(md) {
            border-top: none;

        }

        li {
            margin: 2.8rem 0 0 0;
            @include media-up(md) {
                margin: 0 2.4rem 0 0;
            }
            &:last-child {
                margin: 2.8rem 0;
                @include media-up(md) {
                    margin: 0;
                }
            }

            a {
                text-transform: uppercase;
                @include font-family('demi');
            }
        }
    }

    .ob-button {
        margin: 0.8rem 0;
        @include font-family('demi');
        font-size: 1.6rem;
    }
}