@import '../../static/styles/mixins';

.ob-side-by-side {
    &__title-wrapper {
        text-align: center;
        max-width: 80%;
        margin: rem(30) auto;
        @include media-up(md) {
            margin: rem(50) auto rem(30);
        }
        .ob-heading {
            @include font-family('light');
            font-size: rem(28);
            @include media-up(md) {
                font-size: rem(48);
            }
        }
    }
    &__subtitle {
        @include body-1-xl;
    }
    &__wrapper {
        margin: 2rem 0;
        @include media-up(md) {
            max-width: calc(#{$breakpoint-xlarge} - 4rem);
            margin: 2rem auto;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        
    }
    &__column {
        margin: 0 1rem;
        @include media-up(md) {
            margin: 0;
            width: calc(50% - 1rem);
        }
        img {
            max-width: 100%;
        }
    }
}