@import "../../static/styles/variables";
@import "../../static/styles/mixins";

@keyframes fadeIn {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes leftIn {
    0%   { margin-left: -250px; }
    100% { margin-left: 0; }
}

@keyframes topIn {
    0%   { top: 60px; }
    100% { top: 0; }
}

.ob-series-selector {
    padding: 0 0 rem(20);
    background-color: #D6E1E8;
    background-position: center top;
    background-size: auto 100%;

    @include media-up(sm) {
        padding: 0 0 rem(40);
    }
}

.ob-series-selector__top {
    padding: rem(40) 10px rem(20);

    @include media-up(sm) {
        padding: rem(50) 10px rem(25);
    }

    @include media-up(lg) {
        white-space: nowrap;
    }
}

.ob-series-selector__collection {
    @include display-2-xs;
    max-width: 950px;
    margin: 0 auto;
    color: $base-color-primary-grey;
    text-transform: uppercase;
    text-align: center;
    animation: fadeIn 1.3s ease-in-out;

    @include media-up(sm) {
        @include font-family('light');
        font-size: rem(36);
        text-align: left;
    }
}

.ob-series-selector__series {
    margin: 0 0 15px;

    @include media-up(sm) {
        max-width: 950px;
        margin: 0 auto rem(50);
    }
}

.ob-series-selector__nav {
    background: white;
    animation: fadeIn 1.7s ease-in-out;

    @include media-up(sm) {
        background: none;
    }
}

.ob-series-selector__subtitle {
    display: none;
    color: $base-color-primary-grey;
    text-align: center;
    text-transform: uppercase;
    font-size: rem(16);
    @include font-family('demi');
    animation: fadeIn 1.5s ease-in-out;

    @include media-up(sm) {
        display: block;
    }
}

.ob-series-selector__nav-toggle {
    position: relative;
    display: block;
    width: 100%;
    padding: 22px rem(40);
    border: none;
    background: white;
    appearance: none;
    text-align: center;
    font-size: rem(16);
    letter-spacing: (0.5em / 16);
    @include font-family('demi');

    &:focus {
        outline: 1px dotted black;
    }

    @include media-up(sm) {
        display: none;
    }
}

.ob-series-selector__nav-chevron {
    position: absolute;
    top: 50%;
    right: rem(15);
    margin-top: rem(-8);
}

.ob-series-selector__nav-collapsible {
    height: 0;
    opacity: 0;
    transform: translateY(-30px);
    pointer-events: none;
    overflow: hidden;

    .ob-series-selector__nav.enter &,
    .ob-series-selector__nav.exit & {
        transition: height 400ms ease-in-out, opacity 400ms ease-in-out, transform 400ms ease-in-out;
    }

    .ob-series-selector__nav.enter-active &,
    .ob-series-selector__nav.enter-done & {
        opacity: 1;
        transform: translateY(0);
        pointer-events: all;
    }

    .ob-series-selector__nav.enter-done & {
        height: auto !important;
    }

    .ob-series-selector__nav.exit-active &,
    .ob-series-selector__nav.exit-done & {
        height: 0 !important;
    }

    @include media-up(sm) {
        height: auto !important;
        opacity: 1;
        transform: translateY(0);
        pointer-events: all;
    }
}

.ob-series-selector__nav-list {
    margin: 0;
    padding: 0;
    list-style: none;

    @include media-up(sm) {
        display: flex;
        justify-content: space-between;
        border-top: 1px solid rgba(black, 0.1);
    }
}

.ob-series-selector__nav-item {
    flex: none;

    @include media-up(sm) {
        min-width: rem(120);
    }
}

.ob-series-selector__nav-link {
    display: block;
    max-width: none;
    padding: 20px 15px 26px;
    text-align: center;
    font-size: rem(16);
    letter-spacing: (0.5em / 16);
    @include font-family('demi');

    &, &:hover, &:focus {
        text-decoration: none;
    }

    &:focus {
        outline: 1px dotted black;
    }

    @include media-up(sm) {
        border-bottom: 4px solid transparent;

        &:focus {
            outline: none;
        }

        &:focus, &:hover {
            border-color: rgba($base-color-primary-blue, 0.1);
        }
    }

    .ob-series-selector__nav-item--active & {
        border-color: $base-color-primary-blue;
    }
}

.ob-series-selector__nav-item--active {
    display: none; // active item is already shown in collapsible toggle button

    @include media-up(sm) {
        display: block;
    }
}

.ob-series-selector__nav-link-name {
    display: inline;
    color: $base-color-primary-blue;
    text-transform: uppercase;

    @include media-up(sm) {
        display: block;
        margin-bottom: rem(4);
        white-space: nowrap;
    }
}

.ob-series-selector__nav-link-price {
    display: inline;
    margin-left: rem(5);
    font-size: rem(18);
    color: $base-color-primary-grey;

    @include media-up(sm) {
        display: block;
        margin: 0;
    }
}

.ob-series-selector__selected {
    padding: 0 15px;
}

.ob-series-selector__selected-main {
    display: flex;
    max-width: 950px;
    margin: 0 auto;
}

.ob-series-selector__selected-pic {
    flex: 1 1 auto;
    display: flex;
    width: 372px;
}

.ob-series-selector__selected-pic-wrap {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    width: 0;
}

.ob-series-selector__selected-pic-image {
    flex: 1 1 auto;
    height: 0;

    img {
        display: block;
        position: relative;
        max-width: 100%;
        max-height: 100%;
        margin: 0 auto;
        animation: fadeIn 1.3s ease-in-out, leftIn 1s ease-in-out;
    }
}

.ob-series-selector__selected-gap {
    flex: 1 1.6 auto;
    width: 133px;
}

.ob-series-selector__selected-info {
    flex: 1 1 auto;
    width: 445px;
    padding: 20px 0 40px;
    position: relative;
    animation: fadeIn 1.2s ease-in-out, topIn 1s ease-in-out;

    @include media-up(sm) {
        padding-top: 0;
    }
}

.ob-series-selector__selected-name {
    @include display-3-xl;
    margin: 0 0 rem(14);
    text-transform: uppercase;
    font-size: rem(24);
}

.ob-series-selector__selected-description {
    @include body-2-xl;
    max-width: 408px;
    padding-right: 15px;

    p {
        margin-top: 0;
    }
}

.ob-series-selector__selected-highlights {
    display: none;
    @include font-family('demi');
    margin: 0;
    padding: 0;
    list-style: none;
    color: $base-color-primary-grey;
    font-size: rem(16);
    line-height: (30em / 16);
    text-transform: uppercase;

    @include media-up(sm) {
        display: block;
    }
}

.ob-series-selector__selected-highlights-item {
    display: flex;
}

.ob-series-selector__selected-highlights-icon {
    flex: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: rem(28);
    margin-right: rem(2);
    font-size: rem(10);
}

.ob-series-selector__selected-highlights-text {
    flex: 1 1 auto;
}

.ob-series-selector__selected-experience {
    margin-top: rem(26);
    padding-left: 2px;
    font-size: rem(16);
}

.ob-series-selector__selected-experience-link {
    @include font-family('demi');
}

.ob-series-selector__selected-subheading {
    @include text-link-1-xs;
    margin: 0;
    text-transform: uppercase;

    @include media-up(sm) {
        margin: 0 0 rem(12);
    }
}

.ob-series-selector__selected-subheading--options {
    display: none;

    @include media-up(sm) {
        display: block;
    }
}

.ob-series-selector__selected-colors {
    width: 100%;
    margin-top: rem(22);
    padding-top: rem(20);
    border-top: 1px solid rgba(black, 0.1);
}

.ob-series-selector__selected-colors-list {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% + 10px);
    margin: 0;
    padding: 0;
    list-style: none;
}

.ob-series-selector__selected-colors-item {
    flex: none;
    margin: 5px 10px 5px 0;
}

.ob-series__color {
    display: block;
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    border: 1px solid #9B9B9B;
    border-radius: 50%;
    text-align: center;
    background: none;
    color: transparent;
    text-indent: -999em;
    overflow: hidden;

    &:focus {
        box-shadow: 0 0 5px rgba($base-color-primary-blue, 0.5);
    }

    &.ob-series__color--large-mobile {
        width: 45px;
        height: 45px;
    }

    @include media-up(sm) {
        width: 45px;
        height: 45px;
    }

    &.ob-series__color--active {
        border: 2px solid $base-color-secondary-blue;
    }
}

button.ob-series__color {
    &:focus {
        outline: none;
    }
}

.ob-series-selector__selected-options {
    margin-top: rem(10);
    padding-top: rem(25);
    border-top: 1px solid rgba(black, 0.1);

    @include media-up(sm) {
        margin-top: rem(20);
    }

    ul {
        padding: 0;
        list-style: none;
    }

    li {
        @include font-family('demi');
        margin: rem(14) 0;
        font-size: rem(14);
        line-height: (22em / 14);
        letter-spacing: (0.44em / 14);

        @include media-up(sm) {
            font-size: rem(16);
        }
    }
}

.ob-series-selector__selected-options-text {
    @include eyebrow-1-xl;
}

.ob-series-selector__selected-info-buy {
    display: none;

    @include media-up(sm) {
        display: block;
    }
}

.ob-series-selector__selected-buy {
    padding: 0 14px;

    @include media-up(sm) {
        display: none;
    }
}

.ob-series-selector__selected-buy-heading {
    margin: 0 0 rem(16);
    text-align: center;

    @include media-up(sm) {
        margin: 0 0 rem(20);
        text-align: left;
    }
}

.ob-series-selector__selected-buy-heading-link {
    @include text-link-2-xs;

    &, &:link {
        text-decoration: underline;
    }

    &:hover, &:focus, &:active {
        text-decoration: none;
    }
}

.ob-series-selector__selected-buy-btn {
    width: 100%;
    height: rem(64);
    padding-left: rem(54);
    padding-right: rem(54);
    font-size: rem(16);
    text-align: center;
    justify-content: center;

    @include media-up(sm) {
        width: auto;
        padding-left: rem(56);
        padding-right: rem(56);
    }
}

.ob-series-comparison {
    display: flex;
    background: #EEEEEE;
}

.ob-series-comparison__sizer {
    flex: 1 1 auto;
    width: 0;
}

.ob-series-comparison__title {
    @include display-2-xs;
    margin: 0 auto;
    color: $base-color-primary-grey;
    text-transform: uppercase;
    text-align: center;
    animation: fadeIn 1.3s ease-in-out;
    margin-top: 3rem;

    @include media-up(sm) {
        @include font-family('light');
        font-size: rem(36);
    }
}

.ob-series-comparison__list {
    display: flex;
    width: 100vw;
    margin: 0;
    padding: 20px 0;
    list-style: none;
    overflow: auto;
    scroll-snap-type: x mandatory;
    scroll-padding-left: 5px;
    -webkit-overflow-scrolling: touch;

    @include media-up(sm) {
        padding: 0 0 20px;
        scroll-padding-left: 0;
    }
}

.ob-series-comparison__item {
    scroll-snap-align: start;
    flex: 0 1 auto;
    display: flex;
    width: 444px;
    margin: 0 5px;
    padding: 20px 0;
    border-radius: rem(15);
    background: $base-color-secondary-off-white;

    @include media-up(sm) {
        scroll-snap-align: center;
        margin: 0;
        background: none;

        &:first-child {
            margin-left: auto;
        }

        &:last-child {
            margin-right: auto;
        }
    }
}

.ob-series-comparison__product {
    flex: 0 1 auto;
    display: flex;
    width: 90vw;
}

.ob-series-comparison__product-pic {
    flex: 1 1 auto;
    display: flex;
    width: 118px;
    margin: 0 0 -10px;

    @include media-up(sm) {
        margin-right: 5px;
    }
}

.ob-series-comparison__product-pic-wrap {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    width: 0;
}

.ob-series-comparison__product-pic-image {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 0;

    img {
        flex: none;
        max-width: 100%;
        max-height: 100%;
    }
}

.ob-series-comparison__product-info {
    flex: 1 1 auto;
    box-sizing: border-box;
    width: 320px;
    padding: 10px 10px 0 10px;
}

.ob-series-comparison__product-name {
    margin: 0 0 rem(18);
    text-transform: uppercase;
}

.ob-series-comparison__product-name-link {
    display: inline-block;
    line-height: (16em / 14);
    border-bottom: 1px solid $base-color-primary-blue;

    &, &:link, &:focus, &:hover {
        text-decoration: none !important;
    }
}

.ob-series-comparison__product-buy-btn {
    width: auto;
    padding: rem(4) rem(25);
    font-size: rem(16);
    text-align: center;
    justify-content: center;
    margin-bottom: 2rem;

    @include media-up(sm) {
        width: auto;
    }
}

.ob-series-comparison__product-subheading {
    @include text-link-1-xs;
    margin: 0;
    text-transform: uppercase;

    @include media-up(sm) {
        margin: 0 0 rem(1);
    }
}

.ob-series-comparison__product-colors {
    width: 100%;
    margin-top: rem(10);
    padding-top: rem(16);
}

.ob-series-comparison__product-colors-list {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% + 10px);
    margin: 0;
    padding: 0;
    list-style: none;
}

.ob-series-comparison__product-colors-item {
    flex: none;
    margin: 5px 10px 5px 0;
}

.ob-series-comparison__product-options-text {
    @include eyebrow-1-xl;
    margin-top: rem(10);
    padding-top: rem(5);
    font-size: rem(14);

    @include media-up(sm) {
        margin-top: rem(20);
        font-size: rem(14);
    }

    ul {
        padding: 0;
        list-style: none;
    }

    li {
        margin: rem(19) 0;
    }
}

.ob-series-selector [data-bv-show=rating_summary] {
    margin-top: -1.5rem;
    margin-bottom: 1.5rem;
}

.ob-series-comparison [data-bv-show=rating_summary] {
    margin-top: -2.5rem;
    margin-bottom: 1.5rem;
}