@import "../../static/styles/mixins";

.ob-product-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.35s ease;
  pointer-events: none;

  &.is-active {
    pointer-events: all;
    opacity: 1;
  }

  &__wrapper {
    height: 100%;
    width: 100%;
    padding: 4rem 3.2rem;
    transition: all 0.35s ease;
    background: $base-color__white;
    transform: translateX(100%);
    @include media-up(sm) {
      width: 55%;
      float: right;
    }
    @include media-up(md) {
      width: 41%;
    }

    .is-active & {
      transform: translateX(0);
    }
  }

  &__close-btn {
    float: right;
    transition: all 0.35s ease;

    &:hover, &:focus {
      transform: scale(1.3);
    }
  }
}