@import "../../static/styles/variables";
@import "../../static/styles/mixins";

.ob-underline-tabs-navigation {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    scroll-snap-stop: always;
    padding: 0;

    @include no-scrollbar;
    
    &::after {
        content: '';
        display: block;
        width: 25%;
        flex: none;
        @include media-up(sm) {
            width: 0;
        }
    } 
}

.ob-underline-tabs-navigation-tab {
    scroll-snap-align: center;
    cursor: pointer;
    flex: none;
    width: 50%;
    display: block;
    padding: 1rem 1rem;
    text-align: center;
    font-size: rem(16);
    @include font-family('demi');

    &:link, &:visited, &:hover, &:active {
        text-decoration: none;
    }

    .ob-underline-tabs-navigation &:first-child {
        margin-left: 25%;
        @include media-up(sm) {
            margin-left: 0;
        }
    }

    &::after {
        margin: 2rem 25% 0 ;
        content: '';
        display: block;
        height: 4px;
    }

    @include media-up(sm) {
        flex: 1;
        width: auto;
    }
}

.ob-underline-tabs-navigation-tab--active {
    color: $base-color-primary-blue;
    &::after {
        background-color: $base-color-primary-blue;
    }
}