@import "../../static/styles/mixins";

.ob-star-rating {
    height: 10rem;
    display: flex;
    align-items: flex-end;
    justify-content: center;

    @include media-up(sm) {
        .ob-icon {
            padding: 0 .3rem;
            &:first-child {
                padding-left: 0;
            }
            &:last-child {
                padding-right: 0;
            }
        }
    }
}