@import "../../static/styles/mixins";

.ob-videoBlock {
    display: flex;
    flex-direction: column;
	max-height: none;
	background: white;
	position: relative;

	&.layout-image-above,
	&.layout-image-below {
		> .ob-videoContent-wrapper {
			min-height: 0;
			position: relative;
			text-align: center;
		}
	}
}

.ob-videoContent {

	&-wrapper {
		@include container-wrapper;
		height: 100%;
		display: flex;
		text-align: left;
		align-items: center;
		justify-content: center;
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		.layout-image-above &,
		.layout-image-below & {
			padding: 0 3.8rem;
		}
	}

	&-textContainer {
		align-items: center;
		display: flex;
		flex-wrap: wrap;
		opacity: 0;
		transition: opacity 1s ease-out;

		&.show {
			opacity: 1;
		}

		.layout-background-image-top-center & {
			align-self: flex-start;
		}

		.layout-background-image-bottom-center & {
			align-self: flex-end;
		}

		.layout-background-image-center-center & {
			align-self: center;
		}

		.layout-background-image-top-center &,
		.layout-background-image-bottom-center & {
			display: flex;
			flex-direction: column;
		}

		.layout-image-above &,
		.layout-image-below & {
			margin-right: auto;
		}
	}


	&-text {
		max-width: 80%;

		.align-center & {
			text-align: center;
		}

		.align-center.layout-image-above &,
		.align-center.layout-image-below & {
			margin: 0 auto;
		}

		.layout-image-above &,
		.layout-image-below & {
			max-width: 80%;
			padding: 2rem 0;
			margin: 0 auto;

			.ob-heading {
				@include display-1-xs;
				@include media-down(md) {
					font-size: rem(22);
				}
			}
			
			.ob-bodyText {
				@include media-down(md) {
					font-size: rem(16);
				}
			}
		}

		@include media-up(sm) {
			max-width: 60%;
		}
	}

	&-button {
		border-radius: 50%;
		transition: background-color ease 0.35s;
		&:hover, &:focus {
			background-color: $base-color__white;
		}

		&-container {
			margin: 3.6rem 0 0;
			width: 100%;

			.align-center &,
			.layout-background-image-top-center &,
			.layout-background-image-bottom-center &,
			.layout-background-image-center-left-button-right & {
				text-align: center;
			}

			.layout-background-image-bottom-center &,
			.layout-background-image-center-left-button-top & {
				margin: 0 0 3.6rem;
				order: -1;
			}

			.layout-background-image-center-left-button-right & {
				margin: 0;
				width: 50%;
			}
		}
	}

	&-image {
		position: relative;

		.layout-image-above & {
			order: -1;
			@include media-ie() {
				height: 100%;
			}
		}

		.ob-videoContent-button {
			left: 50%;
			position: absolute;
			top: 50%;
			transform: translate(-50%, -50%);
			
			.ob-play-button-small & {
				background-color: rgba(0, 0, 0, 0.5);
				&:hover, &:focus {
					background-color: $base-color__white;
					svg {
						fill: $base-color__black!important;
					}
				}
			}
		}
	}
}