@import "../../static/styles/mixins";
@import "../../static/styles/variables";

.ob-collection-tabs__eyebrow {
    @include eyebrow-1-xl;
    text-align: center;
    margin: rem(36) 0;
}

.ob-collection-tabs-block__tabs-wrapper{
    margin: rem(20) auto 0 auto;
    max-width: 950px;
    padding-bottom: rem(20);
    @include media-up(md) {
        border-bottom: 1px solid $base-color-secondary-grey;
        margin: rem(42) auto 0 auto;
        padding-bottom: rem(29);
    }
}