@import "../../static/styles/mixins";

.ob-user-quote_wrapper {
    @include container-wrapper;
    margin-bottom: 3rem;
}

.ob-user-quote_heading {       
    @include font-family('book');
    color: $base-color-primary-grey;
    font-size: rem(32);
    letter-spacing: (0.5em / 32);
    line-height: rem(40);
    text-align: center;
    margin-top: rem(28);
    @include media-up(sm) {
        margin-top: rem(37);
    }
}

.ob-war-summary {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2.8rem;
    margin-bottom: 3rem;

    @include media-up(sm) {
        margin-top: 2rem;
        flex-direction: row;    
        justify-content: center;
    }
}

.ob-link.ob-user-quote_war-btn {
    display: flex;
    transform: translateX(-16px);
    margin-top: 1.5rem;
    @include media-up(sm) {
        margin-top: 0;
    }
}

.ob-link.ob-user-quote_expand-review-btn {
    display: flex;
    margin: 4rem auto 1.5rem auto;
    transform: translateX(-16px);
    @include media-up(sm) {
        display: none;
    }
}
 
.ob-user-quote_flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include media-up(sm) {
        flex-direction: row;
    }
}

.ob-user-quote_flex-container-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &:first-child {
        max-width: 410px;
        @include media-up(sm) {
            padding-right: 3rem;
        }
    }
}

.ob-user-quote_star-rating {
    margin-top: 0;
    margin-bottom: 1.6rem;
    @include media-up(md) {
        margin-bottom: 2.8rem;
    }
}

.ob-user-quote_quote {
    @include font-family('book');
    color: $base-color-primary-grey;
    font-size: rem(28);
    letter-spacing: (0.5em / 32);
    line-height: rem(36);
    max-width: 300px;
    text-align: center;
}

.ob-user-quote_author-name {
    @include font-family('book');
    color: $base-color-primary-grey;
    font-size: rem(22);
    letter-spacing: (0.5em / 32);
    line-height: rem(30);
    margin-top: .5rem;
    text-align: center;
    @include media-up(md) {
        margin-top: 1.5rem;
    }
}

.ob-user-quote_image {
    display: none;
    @include media-up(sm) {
        display: block;
        width: 140px;
    }
    @include media-up(md) {
        display: block;
        width: 190px;
    }
    img {
        max-width: 100%;
    }
}

.ob-user-quote_collapse-review {
    overflow: hidden;
    max-width: 950px;
    margin: 0 auto;
    .bv-action-bar,
    .bv-section-summary {
        display: none!important;
    }
}

.ob-war-summary #WAR {
    display: none !important;
}

body.ob-body .ob-war-summary [data-bv-show=rating_summary] {    
    @include media-up(sm) {
        padding-right: 6rem !important;
    }
}