@import "../../static/styles/variables";
@import "../../static/styles/mixins";

.ob-error-block-wrapper-1 {
    width: 100%;
}

.ob-error-block-wrapper-2 {
    display: flex;
    flex-direction: row;
    width: 200%;
    margin-left: -100%;
}

.ob-error-block-ratios {
    visibility: hidden;
}

.ob-error-block {
    position: relative;
}

.ob-error-block,
.ob-error-block-ratios {
    flex: 1;
}

.ob-error-block-background {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0; 
    right: 0;
    overflow: hidden;

    &[data-format="desktop"] {
        .ob-background-wrapper {
            min-width: $breakpoint-small;
        }
        visibility: hidden;
        @include media-up(sm) {
            visibility: visible;
        }
    }

    &[data-format="mobile"] {
        .ob-background-wrapper {
            max-width: $breakpoint-small;
        }
        visibility: visible;
        @include media-up(sm) {
            visibility: hidden;
        }
    }

    .ob-background-wrapper {
        height: 100%;
        width: 100%;
        min-height: 0 !important;
    }
}

.ob-error-block-content-wrapper-1 {
    display: table;
    width: 100%;
    height: 100%;
}

.ob-error-block-content-wrapper-2 { 
    display: table-row;
}

.ob-error-block-content-wrapper-3 { 
    display: table-cell;
    @include media-up(sm) {
        vertical-align: middle;
    }
}

.ob-error-block-content-wrapper-4 {
    @include container-wrapper;
    position: relative;
}

.ob-error-block-content {
    width: 100%;
    margin: 0 0 0 auto;
    padding: 33.33% 0 rem(30) 0;
    @include media-up(sm) {
        width: 60%;
        padding: rem(30) 0;
    }
}

.ob-error-block-eyebrow {
    text-transform: uppercase;
    @include eyebrow-1-xl;
} 

.ob-error-block-heading {
    margin: rem(5) 0;
    text-transform: uppercase;
    @include display-1-xl;
} 

.ob-error-block-body {
    margin: rem(16) 0 rem(24) 0;
    @include body-1-xl;
}

.ob-error-block-search {
    margin: rem(24) 0;
}

.ob-error-block-search-title {
    text-transform: uppercase;
    @include eyebrow-1-xl;
}

.ob-error-block-search-bar {
    margin: rem(16) 0;
    position: relative;
    z-index: map-get($zindex, errorSearch);
}

.ob-error-block-shortcuts-wrapper {
    margin: rem(10) 0 0 0;
    @include media-up(sm) {
        margin: rem(90) 0 0 0;
    }
}

.ob-error-block-shortcuts-title {
    text-transform: uppercase;
    @include eyebrow-1-xl;
}

.ob-error-block-shortcuts {
    margin: rem(10) (-(rem(16))) (-(rem(16))) 0;
}

.ob-error-block-shortcut {
    margin-right: rem(16);
    margin-bottom: rem(16);
    display: inline-block;
}


.ob-error-block-aspect-ratio[data-format="desktop"] {
    display: none;
    @include media-up(sm) {
        display: block;
    }
}

.ob-error-block-aspect-ratio[data-format="mobile"] {
    display: block;
    @include media-up(sm) {
        display: none;
    }
}