@import "../../static/styles/mixins";

.ob-features-tab {
    position: relative;
    ul {
        padding: 0;
        list-style-type: none;
    }

    .ob-mainAsset-wrapper {
        line-height: 0;
    }

    img {
        width: 100%;
    }

    &--desktop {
        display: none;
        @include media-up(sm) {
            display: block;
        }
    }
    
    &--mobile {
        @include media-up(sm) {
            display: none;
        }
    }

    [data-white-text="true"] {
        color: $base-color__white;
    }

    &__content-wrapper, &__wrapper {
        margin: 0;
    }

    &__tabs-wrapper {
        position: absolute;
        top: 6rem;
        left: 50%;
        transform: translateX(-50%);
        z-index: map-get($zindex, one);
        display: flex;
        background: $base-color__white;
        border-radius: 10px;
        margin: 0;
        @include media-ie() {
            max-width: 982px;
            width: 100%;
        }
    }

    &__tabs-item {
        &:first-child {
            .ob-features-tab__tabs-button {
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
            }
        }
        
        &:last-child {
            .ob-features-tab__tabs-button {
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
            }
        }
    }

    &__item {
        border-bottom: 1px solid $base-color-secondary-grey;
        &.darken-text-background {
            .ob-features-tab__text {
                @include media-down(sm) {
                    &:after {
                        content: "";
                        position: absolute;
                        z-index: map-get($zindex, negative);
                        top: 1.3rem;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background: rgba(0,0,0, 0.55);
                        filter: blur(10px);
                    }
                }
            }
        }
        @include media-up(sm) {
            border-bottom: none;
        }

        &:last-child {
            border-bottom: none;
        }
    }
    
    &__tabs-button {
        width: 100%;
        padding: 1.5rem;
        font-size: 1.6rem;
        white-space: nowrap;
        color: $base-color-primary-blue;
        transition: background-color ease 0.4s;
        @include font-family('demi');
        @include media-up(lg) {
            padding: 1.6rem 5.45rem;
        }
        &:hover, &:focus {
            text-decoration: none;
        }
        &.is-active {
            @include media-up(sm) {
                color: $base-color__white;
                background-color: $base-color-primary-blue;
            }
        }
    }

    &__tabs-button-icon {
        float: right;
    }

    &__content-item {

        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        transition: opacity ease 1s;
        
        &.is-active {
            opacity: 1;
            position: relative;
            pointer-events: all;
        }
    }

    &__content-text {
        @include media-down(sm) {
            max-height: 0;
            opacity: 0;
            pointer-events: none;
            transition: all 0.8s ease-in-out;

            &.is-active {
                opacity: 1;
                max-height: 10000px;
                pointer-events: all;
            }
        }
        @include media-up(sm) {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            max-width: 584px;
            &[data-text-align="Left"] {
                left: 16%;
                text-align: left;
            }
            &[data-text-align="Center"] {
                left: 50%;
                transform: translate(-50%, -50%);
                text-align: center;
            }
            &[data-text-align="Right"] {
                right: 16%;
                text-align: right;
            }
        }

        .ob-heading {
            @include display-3-xl;
        }
    }

    .ob-background-wrapper {
        position: relative;
    }

    &__text {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        padding: 3rem 3rem 0;
        text-align: center;
        width: 100%;
    }

    &__subtitle {
        font-size: 2.6rem;
        margin-bottom: 0;
    }
    
    &__description {
        font-size: 2.4rem;
        margin-top: 0;
    }
}