@import "../../static/styles/mixins";

.ob-brand-guarantee {
    background: $base-color-secondary-blue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    padding: 1rem;
    top: 0;
    list-style-type: none;
    letter-spacing: 0;
    text-align: center;
    @include body-4-xs();
    color: $base-color__white;
    
    @include media-up(md) {
        padding: 1rem 3rem;
        justify-content: center;
    }

    ul {
        list-style-type: none;
    }

    .ob-brand-guarantee__claim {
        padding: 2rem 4rem;

        .ob-brand-guarantee__title {
            font-size: 4rem;
            padding-bottom: 1rem;
        }
        .ob-brand-guarantee__statistic {
            font-size: 2rem;
        }

        @include media-down(md) {
            width: 100%;
        }
    }

    .ob-brand-guarantee__cta-link {
        padding: 1rem 0;
        width: 100%;

        a {
            font-weight: bold;
            color: $base-color__white;
        }

        .ob-icon {
            margin-left: 0.5rem;
            margin-top: 0.6rem;
        }
    }
}
