@import "../../static/styles/mixins";
.ob-footer {
  background: $base-color-secondary-off-white;
  padding: 0 0 1rem;
  position: relative;
  z-index: map-get($zindex, footer);
  ul {
    padding: 0;
    list-style-type: none;
    max-width: $oralb-max-desktop-width;
    overflow: hidden;
  }

  &__list {
    padding: 1.8rem 2.4rem;
    border-bottom: 1px solid transparentize($base-color-primary-grey, 0.8);
    &:first-child {
      border-top: 1px solid transparentize($base-color-primary-grey, 0.8);
      @include media-up(md) {
        border-top: none;
      }
    }
    &:last-child {
      width: 100%;
      border-bottom: none;
    }
    @include media-up(md) {
      padding: 0;
      border-bottom: none;
    }

    li {
      font-size: 1.6rem;
      line-height: 2.3;
      a {
        display: flex;
      }

      &.ob-footer__youtube {
        img {
          width: 20px;
          margin-right: 5px;
        }
      }

      .ob-footer__adChoice {
        img {
          margin-top: 7px;
          margin-right: 5px;
        }
      }
    }
  }
  li a, &__item a {
    @include font-family('book');
    color: $base-color-primary-grey;

    &:hover, &:focus {
      color: $base-color-primary-blue;
    }
  }

  
  
  &__title-ctn {
    @include media-down(md) {
      width: 100%;
    }
    @include media-up(md) {
      cursor: default;
      pointer-events: none;

      &:hover, &:focus {
        outline: none;
        text-decoration: none;
      }
    }

    + ul {
      margin: 1rem 0 0;
    }
  }

  &__title {
    @include media-down(md) {
      display: flex;
      justify-content: space-between;
      font-size: 1.6rem;
    }
  }
  
  &__title-icon {
    @include media-up(md) {
      display: none;
    }
    transition: all ease-in-out 0.35s;

    &--reversed {
      transform: rotate(-180deg);
    }

  }

  &__item {
    font-size: 1.4rem;
    margin: 2rem;
    line-height: 1.6;
    
    @include media-up(md) {
      margin: 3rem 7.3rem 0 0;
    }
  }

  #Hierarchy---Footer {
    @include body-3-xl();
    margin: 0 auto 0;
    @include media-up(md) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 4.8rem 1rem 1rem;
    }
  }

  #Hierarchy---Footer---Utility {
    @include media-up(md) {
      display: flex;
      margin: 3rem 7.3rem 0 0;
      
      li {
        margin: 0 7.3rem 0 0;
        &:last-child {
          margin: 0;
        }
      }
    }
  }
}

.ob-spotlight-layout {
  .zone.footer {
    position: relative;
  }

  .ob-footer {
    width: 100%;

    &__onlyShowOn {
      &--mobile {
        @include media-up(md) {
          display: none;
        }
      }

      &--desktop {
        @include media-down(md) {
          display: none;
        }
      }
    }
  }
  
  .ob-footer__list {
    #Hierarchy---Footer---Top .spotlight-footer-logo {
      @include media-down(md) {
        margin: 0 auto;
      }
      img {
        width: auto;
        max-width: 90px;
        margin-right: 0;
        @include media-up(md) {
          max-width: 110px;
        }
      }
    }
  }

  #Hierarchy---Footer {
    @include media-up(md) {
      padding: 1rem;
    }

    .ob-footer__item.ob-spotlight__footer-contact-us {
      border-bottom: 1px solid transparentize($base-color-primary-grey, 0.8);
      margin: 0;
      padding: 1.8rem 2.4rem;
      a {
        @include eyebrow-1-xl;
      }
    }
  }

  #Hierarchy---Footer---Top {
    @include media-up(md) {
      display: flex;
      margin: 2rem 0;
      align-items: center;
      
      li {
        margin: 0 7.3rem 0 0;
        &:last-child {
          margin: 0;
        }
      }

    }
    .ob-spotlight__footer-contact-us a {
      @include eyebrow-1-xl;
    }

    .ob-spotlight__footer-logo-wrapper {
      line-height: 0;
    }
  }
}