@import "../../static/styles/variables";
@import "../../static/styles/mixins";

.ob-article-category-hero-background {
    position: relative;
}

.ob-article-category-hero-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 50px 24px 24px;
    text-align: center;

    @include media-up(xs) {
        text-align: left;
    }

    @include media-up(sm) {
        padding: 170px 24px 24px;
    }
}

.ob-article-category-hero-content {
    max-width: 1136px;
    height: 100%;
    margin: 0 auto;
}

.ob-article-category-hero-eyebrow {
    margin-bottom: rem(20);
    font-size: rem(16);
    text-transform: uppercase;
}

.ob-article-category-hero-heading {
    @include display-1-xl;
    @include display-3-xs;
    max-width: rem(730);
    margin-bottom: rem(15);
    text-transform: uppercase;
    letter-spacing: (0.5em / 64) !important;

    @include media-up(sm) {
        margin-bottom: rem(8);
    }
}

.ob-article-category-hero-text {
    @include body-1-xl;
    margin-top: 0;
    max-width: rem(730);
    line-height: (26em / 18);
    letter-spacing: 0;
    font-variant-ligatures: common-ligatures;

    @include media-up(sm) {
        letter-spacing: (0.5em / 22);
    }
}

.ob-article-category-hero-time {
    @include body-1-xl;
    margin-top: rem(30);
}

.ob-article-category-hero-cta-list {
    margin: 51px 0 0;
    padding: 0 20px;
    list-style: none;
    text-align: left;

    @include media-up(sm) {
        margin-top: 35px;
        padding: 0;
    }
}

.ob-article-category-hero-cta-item {
    margin: 36px 0;

    @include media-up(sm) {
        margin: 22px 0;
    }
}

.ob-article-category-hero-cta-link {
    font-size: rem(16) !important;
    text-transform: uppercase;
}

.ob-article-category-hero-cta-icon {
    margin-right: 8px !important;
}
