@import "../../static/styles/mixins";

@mixin highlight-borders {
    border: 1px solid $base-color-isolate-grey;
    border-left: none;
    border-right: none;
}

@keyframes fadeIn {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes leftIn {
    0%   { left: -50px; }
    100% { left: 0; }
}

@keyframes topIn {
    0%   { top: 40px; }
    100% { top: 0; }
}

.ob-product-highlights {
    &__ctn {
        max-width: $oralb-max-desktop-width;
        margin: 0 auto;
        text-align: center;
        padding: 1rem 0;
        @include media-up(md) {
            padding: 3.8rem 0 3rem;
            text-align: left;
            display: flex;
            justify-content: center;
        }
    }

    [data-bv-show=rating_summary] {
        display: flex;
        justify-content: center;
        @include media-up(md) {
            margin-top: .5rem;
            margin-bottom: 1.5rem;
            justify-content: start;
        }
    }

    .ob-background-wrapper {
        padding-top: 0 !important;
        min-height: 690px;
    }

    &__img-ctn {
        padding: 0;
        @include media-up(md) {
            flex: 1 0 auto;
        }
        img {
            position: relative;
            max-height: 40rem;
            margin: 0 auto;
            display: block;
            @include media-up(md) {
                max-height: 61.1rem;
            }
        }
    }

    &__img {
        opacity: 0;
        height: 0;
        &.is-active {
            position: static;
            display: block;
            height: 100%;
            opacity: 1;
        }
        .ob-mainAsset-wrapper {
            height: 100%;
        }
    }

    &__360-ctn {
        height: 100%;
        > div {
            height: 100%;
        }
    }

    &__360-icon {
        display: block;
        margin: 2rem 0;
        text-align: center;
    }

    .ob-icon--icon360 {
        width: 5.3rem;
        height: 3.9rem;
    }

    &__header {
        margin: 2.4rem 0 3.7rem;
        @include media-up(md) {
            margin: 0;
        }
    }
    
    &__surtitle {
        font-size: 1.4rem;
        color: $base-color-isolate-grey;
        @include media-up(md) {
            font-size: 1rem;
        }
    }
    
    &__title {
        @include font-family('book');
        font-size: 2.8rem;
        margin-bottom: 1.6rem;
        color: $base-color-primary-grey;
        @include media-up(md) {
            @include display-3-xl;
            margin-bottom: 0;
        }
    }

    &__description {
        @include body-2-xl;
    }

    &__text-content {
        position: relative;
        width: 90vw;
        margin: 2.4rem auto;
        text-align: center;
        @include media-up(md) {
            width: 44.3rem;
            text-align: left;
            margin: 0 auto;
            margin-right: 110px;
            .ob-button {
                font-size: 1.8rem;
            }
        }
        
    }

    &__label {
        margin: 0 0 1rem;
        font-size: 1.6rem;
        @include media-up(md) {
            @include body-3-xl;
            @include font-family('demi');
        }
    }

    &__highlights-ctn {
        margin: 2rem 0;
        @include media-up(md) {
            padding: 2rem 0;
            @include highlight-borders;
        }
    }
    
    &__quote {
        @include font-family('book-italic');
        color: $base-color-primary-grey;
        font-size: 2rem;
        @include media-down(md) {
            font-size: 2.2rem;
            padding: 2rem 0;
            @include highlight-borders;
        }
    }

    &__quote-text {
        display: block;
        margin: 1rem 0;
    }

    &__highlights-content {
        font-size: 1.4rem;
    }    
    
    &__highlights-list {
        @include font-family('book');
        font-size: 1.4rem;
        line-height: 2rem;
        color: #3D3C42;
        list-style-position: outside;
        padding-left: 2.5rem;
        text-align: left;
    }

    &__highlights-list-item {
        padding-left: 2.4rem;
        margin-bottom: 2rem;
        &:last-of-type {
            margin-bottom: 0;
        }
        &.hide {
            display: none;
        }
    }

    &__see-more.ob-link.primaryGrey {
        font-size: 1.4rem;
        line-height: 2.2rem;
    }

    &__colors {
        display: flex;
        list-style-type: none;
        padding: 0;
        flex-wrap: wrap;
        justify-content: center;
        @include media-up(md) {
            justify-content: flex-start;
            margin-bottom: 3.7rem;
        }
    }

    &__selected-colors-item {
        &:first-child {
            .ob-product-highlights__color {
                margin-left: 0;
            }
        }
        &:last-child {
            .ob-product-highlights__color {
                margin-right: 0;
            }
        }
    }

    &__color {
        margin: 0 1rem;
        width: 55px;
        height: 55px;
        border-radius: 50%;
        outline: none;

        &.is-active {
            border: 3px solid $base-color-primary-blue;
        }
    }
}