@import "../../../static/styles/mixins";

.ob-background-wrapper {
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  min-height: 550px;

  @include media-up(md) {
    min-height: 800px;
  }
}
