@import "../../static/styles/mixins";
.ob-spotlight-waitlist {
    .ob-background-wrapper {
        @include media-up(md) {
            min-height: 814px;
        }
    }
    &__wrapper {
        padding: 0 2rem 2rem;
        @include media-up(sm) {
            padding: 2rem;
            background: $base-color__white;
            height: 100%;
            top: 0;
            right: 0;
            position: absolute;
            background: transparentize($base-color__white, 0.1);
            padding: 3rem 11rem 0 8rem;
        }
        
        @include media-up(md) {
            width: 47.57%;
            min-height: 814px;
        }
    }
    
    &__title {
        @include display-1-xs;
        @include media-up(sm) {
            @include display-2-xl;
        }
    }

    &__body {
        @include body-2-xl;
        margin-top: 2rem;
    }
    
    &__form-list {
        padding: 0;
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__form-list-item {
        margin-top: 3rem;
        width: 100%;
        
        @include media-up(sm) {
            width: 48.5%;
            margin-top: 2.1rem;
            &:last-child {
                width: 100%;
            }
        }
    }

    &__form-label {
        display: block;
        font-size: 2.2rem;
        margin-bottom: 1rem;
        @include media-up(sm) {
            @include body-3-xl;
            margin-bottom: 0;
        }
    }
    
    &__form-input {
        display: block;
        padding: 1.2rem;
        border: 1px solid $base-color-isolate-grey;
        width: 100%;
        @include eyebrow-1-xl;
        @include media-down(sm) {
            font-size: 1.6rem;
        }

        &.--error {
            border: 1px solid $base-color__error;
            color: $base-color__error;
            
            &:-internal-autofill-selected {
                -webkit-text-fill-color: $base-color__error;
            }
        }
    }

    &__form-error {
        font-size: 1.6rem;
        color: $base-color__error;
        margin: 1rem 0 0;
    }

    .ob-button {
        background-color: $base-color-primary-blue;
        border: 1px solid $base-color-primary-blue;
        color: $base-color__white;
        display: block;
        margin-left: auto;
        font-size: 1.6rem;
        width: 100%;
        
        @include media-up(sm) {
            width: 25.4rem;
        }

        &:hover,
        &:focus {
            background-color: $base-color__white;
            color: $base-color-primary-blue;
        }
    }

    &__legal-text {
        @include eyebrow-1-xl;
        @include font-family('book');
        font-size: 1.6rem;
        line-height: 2.1rem;
        margin-top: 2.4rem;

        @include media-up(sm) {
            font-size: 1.4rem;
            line-height: 2.1rem;
        }
    }

    &__modal-container {
        width: 90%;
        height: 100%;
        height: fit-content;
        position: absolute;
        background: $base-color__white;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        @include media-up(sm) {
            display: flex;
            height: 38%;
            width: 79%;
            height: 60%;
            height: fit-content;
            max-width: 113.7rem;
            max-height: 48rem;
        }
        img {
            max-width: 100%;
        }
    }

    &__modal-content {
        @include media-up(sm) {
            width: 50%;
        }
    }

    &__modal-text-container {
        padding: 9rem 2rem 0;
        .ob-heading {
            @include display-2-xl;
        }
    }

    &__modal-text-content {
        font-size: 1.6rem;
    }

    &__close-modal {
        position: absolute;
        top: 2rem;
        right: 2rem;
        transition: all ease 0.35s;

        &:hover, &:focus {
            transform: scale(1.1);
        }
    }
}