@import "../../static/styles/mixins";

.ob-CharacterBlock {
    position: relative;
}

.ob-CharacterBlock__wrapper {
    @include container-wrapper;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;    
    @include media-up(tiny) {
        justify-content: center;
        align-items: flex-start;
    }
}

.ob-CharacterBlock__content {
    width: 100%;
    text-align: center;
    position: relative;
    @include media-up(tiny) {
        text-align: left;
        width: 67%; 
    }
    @include media-up(sm) {
        width: 47%; 
    }
    opacity: 0;
    transition:  opacity 2s ease-out;
    .show & {
        opacity: 1; 
    }
}

.ob-CharacterBlock__content-logo {
    display: none;
    transform: translateY(50px);
    transition: transform 1.5s ease-out;
    @include media-up(tiny) {
        display: block;
        margin-bottom: 1rem;
        img {
            max-width: 80%;
        }
    }
    @include media-up(md) {
        margin-bottom: 4rem;
    }
    .show & {
        transform: translateY(0);
    }
}

.ob-CharacterBlock__content-eyebrow {
    @include media-down(tiny) {
        margin-top: 3rem;
        margin-bottom: 1.8rem;
    }
}

.ob-CharacterBlock__content-heading {
    @include display-1-xl;
    margin-bottom: .5rem;
    @include media-down(tiny) {
        margin-bottom: 2rem;
    }
}