@import "../../static/styles/mixins";

.ob-contentBlock {
    background: white;
    position: relative;

    &.no-background {
        padding-top: 55.5556%;
        min-height: 550px;
    }

    &.noMaxHeight {
        max-height: none;
    }

    &.background-primary-grey {
        background: $base-color-primary-grey;
    }

    &.background-secondary-grey {
        background: $base-color-secondary-grey;
    }

    &.background-isolate-grey {
        background: $base-color-isolate-grey;
    }

    &.background-secondary-off-white {
        background: $base-color-secondary-off-white;
    }

    &.background-primary-blue {
        background: $base-color-primary-blue;
    }

    &.background-secondary-blue {
        background: $base-color-secondary-blue;
    }

    &-wrapper {
        @include container-wrapper;
        height: 100%;
        display: flex;
        text-align: left;
        align-items: center;
        justify-content: center;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
    }

    &-textContent {
        opacity: 0;
        transition: opacity 2s ease-out,
            top 1s ease-out,
            left 1s ease-out,
            right 1s ease-out,
            bottom 1s ease-out,
            transform 1s ease-out;
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: start;
        align-items: center;
        position: relative;

        .scale-transition & {
            transform: scale(0.95);
        }

        .top-transition & {
            top: -4%;
        }

        .bottom-transition & {
            bottom: -4%;
        }

        .left-transition & {
            left: -4%;
        }

        .right-transition & {
            right: -4%;
        }

        .show & {
            opacity: 1;

            .top-transition & {
                top: 0;
            }

            .bottom-transition & {
                bottom: 0;
            }

            .left-transition & {
                left: 0;
            }

            .right-transition & {
                right: 0;
            }

            .scale-transition & {
                transform: scale(1);
            }
        }

        &.hasPadding {
            padding: 15px;
        }

        &.horizontal-left {
            justify-content: start;
        }

        &.horizontal-center {
            justify-content: center;
        }

        &.horizontal-right {
            justify-content: flex-end;
        }

        &.vertical-top {
            align-items: start;
        }

        &.vertical-center {
            align-items: center;
        }

        &.vertical-bottom {
            align-items: flex-end;
        }

        &-inner {
            width: 100%;

            @include media-up(sm) {
                width: 50%;
            }
        }
    }

    &-text-image {
        img {
            max-width: 100%;
        }
    }

    &-mainAsset-container {
        height: 100%;
        position: absolute;
        width: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        .ob-mainAsset-wrapper {
            align-items: center;
            display: flex;
            height: 100%;
            justify-content: center;
            max-width: 100%;
            width: 100%;

            &.horizontal-left {
                justify-content: start;
            }

            &.horizontal-center {
                justify-content: center;
            }

            &.horizontal-right {
                justify-content: flex-end;
            }

            &.vertical-top {
                align-items: start;
            }

            &.vertical-center {
                align-items: center;
            }

            &.vertical-bottom {
                align-items: flex-end;
            }
        }

        img {
            max-height: 100%;
            max-width: 100%;
        }
    }

    .ob-eyebrow {
        margin-bottom: 1.6rem;
    }

    &.text-spacing {
        .ob-heading {
            @include media-down(tiny) {
                font-size: 2.8rem;
                margin-bottom: 1.6rem;
            }
            @include media-down(xtiny) {
                font-size: 2rem;
                line-height: 1;
                margin-bottom: 1rem;
            }
        }
        .ob-eyebrow {
            @include media-down(tiny) {
                margin-top: 3rem;
            }
            @include media-down(xtiny) {
                margin-top: 1rem;
            }
        }
        .ob-bodyText {
            @include media-down(xtiny) {
                font-size: 1.4rem;
            }
        }
    }

    .ob-bodyText {
        margin-top: .5rem;
    }

    .ob-link,
    .ob-button {
        margin-top: 3rem;

        @include media-up(md) {
            margin-top: 3.8rem;
        }
    }

    &:first-child {
        .ob-background-wrapper {
            min-height: 610px;
        }
    }
}

.ob-contentBlock-video-wrapper {
    position: relative;
}

.ob-contentBlock-video-controls-wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
}

.ob-contentBlock-video-controls {
    padding: rem(16);
    font-size: rem(24);
    color: black;
    position: relative;
    z-index: map-get($zindex, one);
}

.ob-contentBlock-video {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    * {
        display: none !important;
        background: none !important;
    }

    .ob-video-player {
        position: static !important;
    }
    .ob-video-player,
    #video-player {

        height: 100% !important;
        width: 100% !important;
        display: block !important;
        padding: 0!important
    }

    #video-player {
        position: relative !important;
    }

    video {
        height: auto !important;
        width: auto !important;
        display: block !important;
        position: absolute !important;
        min-height: 100% !important;
        min-width: 100% !important;
        top: 50% !important;
        left: 50% !important;
        transform: translate(-50%, -50%) !important;
        
    }
}

.ob-contentBlock-video-content {
    width: 100%;
    min-height: 550px;

    @include media-up(md) {
        min-height: 800px;
    }
}

//Some homepage content block custom style
#Home---Content---Find-Your-Perfect-ORAL-B-Brush-Head---block-6 {
    .ob-mainAsset-wrapper {
        img {
            @include media-down(sm) {
                max-width: 111%;
            }
        }
    }
}

#gum-health {
    .ob-mainAsset-wrapper {
        img {
            @include media-down(md) {
                width: 210px;
                margin-left: 40%;
            }

            @include media-down(sm) {
                max-width: 95%;
                margin-left: 0;
            }
        }
    }
}