@import "./variables";

@function rem($px, $base: 10) {
    @return 1rem / $base * $px;
}

@mixin media-up($breakpointKey) {
    @media screen and (min-width: map_get($mediaQueryBreakpoints, $breakpointKey)) {
        @content
    }
}

@mixin media-down($breakpointKey) {
    @media screen and (max-width: map_get($mediaQueryBreakpoints, $breakpointKey) - 1px) {
        @content
    }
}

@mixin container-wrapper() {
    width: 100%;
    max-width: $oralb-max-desktop-width;
    margin: 0 auto;
    padding: 0 2rem;
    display: block;
    @include media-up(sm) {
        padding: 0 3rem;
    }
    @include media-up(md) {
        padding: 0 4rem;
    }
    &[data-is-full-width='true'] {
        padding: 0 0!important;
        max-width: 100%;
    }
}

@mixin simple-container-wrapper() {
    width: 100%;
    max-width: calc(#{$oralb-max-desktop-width} - 71px);
    margin: 0 auto;
}

@mixin media-ie() {
    /* IE10+ */
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        @content;
    }
}

@mixin font-family($font) {
    @if $font == 'light' {
        font-family: $neutraface2text;
        font-weight: 300;
    }
    @if $font == 'light-italic' {
        font-family: $neutraface2text;
        font-weight: 300;
        font-style: italic;
    }
    @if $font == 'book' {
        font-family: $neutraface2text-book;
        font-weight: normal;
        font-style: normal;
    }
    @if $font == 'book-italic' {
        font-family: $neutraface2text-book;
        font-weight: normal;
        font-style: italic;
    }
    @if $font == 'demi' {
        font-family: $neutraface2text-demi;
        font-weight: 600;
        font-style: normal;
    }
    @if $font == 'demi-italic' {
        font-family: $neutraface2text-demi;
        font-weight: 600;
        font-style: italic;
    }
    @if $font == 'bold' {
        font-family: $neutraface2text;
        font-weight: bold;
        font-style: normal;
    }
    @if $font == 'bold-italic' {
        font-family: $neutraface2text;
        font-weight: bold;
        font-style: italic;
    }
}

// HEADINGS mixins

@mixin display-1-xtiny() {
    @include font-family('book');
    color: $base-color-primary-grey;
    font-size: rem(25);
    letter-spacing: (0.5em / 32);
    line-height: rem(30);
}

@mixin display-1-xs() {
    @include font-family('book');
    color: $base-color-primary-grey;
    font-size: rem(32);
    letter-spacing: (0.5em / 32);
    line-height: rem(35);
}

@mixin display-1-xl() {
    @include display-1-xs;
    @include media-down(tiny) {
        @include display-1-xtiny;
    }
    @include media-up(sm) {
        @include font-family('light');
        font-size: rem(42); // lg/1.5
        line-height: rem(48); // lg/1.5
        letter-spacing: (-1.2em / 42);
    }
    @include media-up(lg) {
        font-size: rem(64);
        line-height: rem(72);
    }
}


@mixin display-2-xs() {
    @include font-family('book');
    color: $base-color-primary-grey;
    font-size: rem(28);
    letter-spacing: (0.5em / 28);
    line-height: rem(36);
    @include media-down(tiny) {
        font-size: rem(24);
    }
}

@mixin display-2-xl() {
    @include display-2-xs;
    @include media-up(sm) {
        @include font-family('light');
        font-size: rem(37); // lg/1.5
        line-height: rem(42); // lg/1.5
        letter-spacing: (-1.2em / 37);
    }
    @include media-up(lg) {
        font-size: rem(56);
        line-height: rem(64);
    }
}


@mixin display-3-xs() {
    @include font-family('book');
    font-size: rem(28);
    letter-spacing: (0.5em / 28);
    line-height: rem(36);
}

@mixin display-3-xl() {
    @include display-3-xs;
    @include media-up(sm) {
        @include font-family('light');
        font-size: rem(32); // lg/1.5
        line-height: rem(37); // lg/1.5
    }
    @include media-up(lg) {
        font-size: rem(48);
        line-height: rem(56);
    }
}


// Body text mixins

@mixin body-1-xs() {
    @include font-family('book');
    color: $base-color-primary-grey;
    font-size: rem(18);
    letter-spacing: (0.5em / 18);
    line-height: rem(22);
}

@mixin body-1-xl() {
    @include body-1-xs;
    @include media-up(sm) {
        font-size: rem(20);
        line-height: rem(28);
    }
    @include media-up(lg) {
        font-size: rem(22);
        line-height: rem(30);
    }
}


@mixin body-2-xs() {
    @include font-family('book');
    color: $base-color-primary-grey;
    font-size: rem(18);
    letter-spacing: (0.5em / 18);
    line-height: rem(26);
}

@mixin body-2-xl() {
    @include body-2-xs;
    @include media-up(sm) {
        font-size: rem(20);
        line-height: rem(28);
    }
}


@mixin body-3-xs() {
    @include font-family('book');
    color: $base-color-primary-grey;
    letter-spacing: (0.5em / 12);
    font-size: rem(12);
    line-height: rem(16);
}

@mixin body-3-xl() {
    @include body-3-xs;
    @include media-up(sm) {
        font-size: rem(16);
        line-height: rem(24);
    }
}


@mixin body-4-xs() {
    @include font-family('book');
    color: $base-color-primary-grey;
    font-size: rem(14);
    letter-spacing: (0.5em / 14);
    line-height: rem(22);
}

@mixin body-4-xl() {
    @include body-4-xs;
}


// Text Link

@mixin text-link-1-xs() {
    @include font-family('demi');
    color: $base-color-primary-grey;
    font-size: rem(16);
    letter-spacing: (0.5em / 16);
    line-height: rem(24);
}

@mixin text-link-1-xl() {
    @include text-link-1-xs;
    @include media-up(sm) {
        font-size: rem(14);
        line-height: rem(26);
    }
}

@mixin text-link-2-xs() {
    @include font-family('demi');
    color: $base-color-primary-blue;
    font-size: rem(16);
    letter-spacing: (0.5em / 16);
    line-height: rem(24);
}

@mixin text-link-2-xl() {
    @include text-link-1-xs;
    @include media-up(sm) {
        font-size: rem(14);
        line-height: rem(26);
    }
}

// Eyebrow

@mixin eyebrow-1-xs() {
    @include font-family('demi');
    color: $base-color-primary-grey;
    font-size: rem(14);
    letter-spacing: (0.5em / 14);
    line-height: rem(22);
}

@mixin eyebrow-1-xl() {
    margin: 0;
    @include eyebrow-1-xs;
    @include media-up(sm) {
        font-size: rem(18);
        line-height: rem(26);
    }
}

@mixin x-btn($size, $thickness, $color: $base-color-primary-blue, $hoverScaleRatio: 1.25, $hoverColor: $color) {
    $diagonalRatio: 141.42136%;
    height: $size;
    position: relative;
    width: $size;

    &:before,
    &:after {
        background-color: $color;
        content: "";
        height: $thickness;
        left: 50%;
        margin: #{$thickness / -2} 0 0 #{$diagonalRatio / -2};
        position: absolute;
        top: 50%;
        transition: all 0.2s ease-in-out;
        width: $diagonalRatio;
    }

    &:before {
        transform: rotate(45deg);
    }

    &:after {
        transform: rotate(-45deg);
    }

    &:hover,
    &:focus {
        &:before,
        &:after {
            background-color: $hoverColor;
            margin: #{$thickness / -2} 0 0 #{($diagonalRatio * $hoverScaleRatio) / -2};
            width: #{$diagonalRatio * $hoverScaleRatio};
        }
    }
}

@mixin no-scrollbar() {
    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
        display: none;
        width: 0 !important;
    }

    &::-moz-scrollbar {
        display: none;
    }
}

@keyframes opacity {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}