//namespace
$ob: 'ob';

// font family
$neutraface2text: 'Neutraface 2 Text', sans-serif;
$neutraface2text-book: 'Neutraface 2 Text Book', sans-serif;
$neutraface2text-demi: 'Neutraface 2 Text Demi', sans-serif;

// responsive break-point
$breakpoint-xtiny: 365px;
$breakpoint-tiny: 376px;
$breakpoint-xsmall: 426px;
$breakpoint-small: 768px;
$breakpoint-medium: 992px;
$breakpoint-large: 1200px;
$breakpoint-xlarge: 1440px;

// main colors
$base-color-primary-blue: #0057B8;
$base-color-secondary-blue: #4A90E2;
$base-color-outline-blue: #2170CC;
$base-color-tertiary-blue: #1967BE;
$base-color-primary-grey: #3D3D41;
$base-color-secondary-grey: #D8D8D8;
$base-color-isolate-grey: #979797;
$base-color-light-grey: #EAE6E6;
$base-color-minimal-grey: #C0C0C0;
$base-color-proxima-grey: #E6E6E6;
$base-color-secondary-off-white: #FAFAFA;
$base-color-secondary-darker-off-white: #F4F4F4;
$base-color__white: #ffffff;
$base-color__black:  #000000;
$base-color__yellow:  #FFB702;

// TBD
$base-color__error:  #c60100;

$mediaQueryBreakpoints: (
    xtiny  : $breakpoint-xtiny,
    tiny  : $breakpoint-tiny,
    xs  : $breakpoint-xsmall,
    sm  : $breakpoint-small,
    md  : $breakpoint-medium,
    lg  : $breakpoint-large,
    xlg : $breakpoint-xlarge
);

// If we need to add a z-index value to an element, we will add it in this map. 
// It's easier to keep track of all the values like this.
$zindex: (
    negative : -1,
    default : 0,
    one : 1,
    menuList : 10,
    spotlightClipBaseStep3 : 10,
    productSubNav : 10,
    activeMenuSubNav : 20,
    menuSubNavCloseBtn : 30,
    waitlistModal: 90,
    header: 100,
    modal: 110,
    visuallyHidden: 1000,
    footer: 1,
    errorSearch: 2,
);


// container

//Wrapper from design 1136px/113.6rem
$oralb-max-desktop-width: 123.6rem;

$ob-menu-mobile-max-height: calc(100vh - 149px);

// spotlight
$ob-sticky-bar-height: 60px;
$ob-sticky-bar-height-mobile: 57px;