@import './mixins';
@import '../../components/Button/Button.scss';

body.ob-body {
    #BVRRContainer {
        .bv-cleanslate.bv-cv2-cleanslate {
            font-family: $neutraface2text-book !important;
            font-weight: normal !important;
            font-style: normal !important;
            color: $base-color-primary-grey !important;
        }

        .bv-control-bar {
            // FILTERING BAR
            display: none !important;
        }

        .bv-content-badges-container {
            display: none !important;
        }

        .bv-author-avatar {
            display: none !important;
        }

        .bv-content-header-meta {
            display: flex !important;
            padding-left: 0 !important;
            min-height: 0 !important;
            justify-content: start;
            align-items: flex-start;
            margin-bottom: 2rem !important;
        }

        .bv-content-author-name {
            margin-left: 1rem !important;
            top: 4px !important;
            position: relative !important;

            span {
                font-family: $neutraface2text-book !important;
                font-weight: normal !important;
                font-style: normal !important;
                color: $base-color-primary-grey !important;
                font-size: 1.6rem !important;

                @include media-up(md) {
                    font-size: 2.2rem !important;
                }
            }
        }

        .bv-content-datetime {
            display: none !important;
        }

        .bv-rating-stars-on {
            color: $base-color__yellow !important;
            font-size: 26px !important;
        }

        .bv-rating-stars-off {
            font-size: 26px !important;
        }

        .bv-content-title {
            text-transform: uppercase !important;
            font-family: $neutraface2text-demi !important;
            font-weight: normal !important;
            font-style: normal !important;
            color: $base-color-primary-grey !important;
            font-size: 1.6rem !important;
        }

        .bv-content-summary-body-text p {
            font-family: $neutraface2text !important;
            font-weight: 300 !important;
            color: $base-color-primary-grey !important;
            font-size: 1.8rem !important;
            line-height: 2.7rem;
        }

        .bv-content-details-container {
            display: none !important;
        }

        .bv-active-feedback {
            display: none !important;
        }

        .bv-content-data-recommend-yes {
            display: none !important;
        }

        .bv-content-data {
            display: none !important;
        }

        .bv-content-product-questions {
            display: none !important;
        }

        .bv-inline-form-container {
            display: none !important;
        }

        .bv-secondary-content-list {
            display: none !important;
        }

        .bv-content-list-reviews {
            display: flex !important;
            flex-direction: column !important;

            @include media-up(sm) {
                flex-direction: row !important;
                flex-wrap: wrap;
            }
        }

        .bv-content-review {
            flex-grow: 0 !important;
            flex-shrink: 1 !important;
            width: 100% !important;
            margin-top: 2rem !important;

            @include media-up(sm) {
                width: auto !important;
                flex-basis: calc(33.3333% - 20px) !important;

                &:nth-child(n+4) {
                    margin-top: 3rem !important;
                }
            }
        }

        .bv-content-details-offset-on {
            width: 100% !important;
        }

        .bv-content-item-avatar-offset-on {
            padding-left: 0 !important;
        }

        .bv-content-reference-data {
            border: 0 !important;
            padding: 0 !important;
        }

        .bv-content-author-name {
            display: flex !important;
            align-items: flex-end;
        }

        .bv-content-summary-body-text {
            max-height: 300px !important;
            overflow: hidden !important;
        }
    }

    .bv-compat .bv-content-pagination {
        margin-top: 2rem !important;
        background-color: transparent !important;
    }

    .bv-content-pagination-container {
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
    }

    .bv-content-pagination .bv-content-pagination-container .bv-content-btn-pages.bv-content-btn-pages-load-more {
        font-family: $neutraface2text-demi !important;
        font-weight: 600 !important;
        font-style: normal !important;
        
        font-size: 1.4rem !important;
        align-items: center !important;
        background-color: $base-color-primary-blue !important;
        border-radius: 72px !important;
        border: none !important;
        color: $base-color__white !important;
        cursor: pointer !important;
        display: inline-flex !important;
        height: 4.8rem !important;
        padding: 2rem 3rem !important;
        text-decoration: none !important;
        transition: all 0.4s ease !important;
        width: auto !important;

        > * {
            pointer-events: none !important;
        }

        &:link {
            color: $base-color__white !important;
        }

        &:visited {
            background: $base-color-primary-blue !important;
            color: $base-color__white !important;
        }

        span {
            position: relative !important;
            top: -5px !important;
        }
    
    }

    [data-bv-show=rating_summary] {
        // Little summary rating widget
        @include media-up(sm) {
            padding-right: 4rem !important;
        }

        .bv_stars_component_container {
            padding-right: 1rem !important;
        }

        .bv_percentRecommend_component_container,
        .bv_main_container_row_normal,
        .bv_main_container_line_break {
            display: none !important;
        }

        .bv_main_container_row_flex {
            padding-right: 0 !important;
        }

        .bv_main_container .bv_stars_component_container .bv_stars_button_container svg:not(:last-child) {
            padding-right: 2px !important;
            width: 20px !important;
            height: 20px !important;
        }

        .bv_avgRating,
        .bv_numReviews_delimeter {
            font-family: $neutraface2text !important;
            font-weight: 600 !important;
            color: $base-color-primary-grey !important;
            font-size: 1.6rem !important;
            line-height: 2.7rem !important;
            text-decoration: none !important;
            &:hover,
            &:focus {
                font-family: $neutraface2text !important;
                font-weight: 600 !important;
                color: $base-color-primary-grey !important;
                font-size: 1.6rem !important;
                line-height: 2.7rem !important;
                text-decoration: underline !important;
            }
            
        }

        .bv_numReviews_delimeter {
            margin-right: .2rem !important;
            margin-left: .2rem !important;
        }

        .bv_numReviews_text {
            font-family: $neutraface2text !important;
            font-weight: 600 !important;
            color: $base-color-primary-blue !important;
            font-size: 1.6rem !important;
            line-height: 2.7rem !important;
            text-decoration: none !important;
            text-transform: lowercase !important;
            position: relative!important;
            &:hover,
            &:focus {
                font-family: $neutraface2text !important;
                font-weight: 600 !important;
                color: $base-color-primary-blue !important;
                font-size: 1.6rem !important;
                line-height: 2.7rem;
                text-decoration: underline !important;
                text-transform: lowercase !important;
            }
            &:before {
                /* use !important to prevent issues with browser extensions that change fonts */
                font-family: 'icomoon' !important;
                speak: none !important;
                font-style: normal !important;
                font-weight: normal !important;
                font-variant: normal !important;
                text-transform: none !important;
                line-height: 1 !important;
                /* Better Font Rendering =========== */
                -webkit-font-smoothing: antialiased !important;
                -moz-osx-font-smoothing: grayscale !important;

                content: "\e915" !important;
                position: absolute !important;
                left: auto !important;
                right: -10px !important;
                bottom: auto !important;
                top: 9px !important;
                font-size: 7px!important;
            }
        }

        // Hide write a review button
        .bv_button_buttonFull {
            display: none !important;
        }
        .bv_main_container_CTA_row {
            display: none !important;
        }

    }
}