@font-face {
    font-family: 'Neutraface 2 Text Demi';
    src: url('../fonts/Neutraface2Text-Demi.eot');
    src: url('../fonts/Neutraface2Text-Demi.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Neutraface2Text-Demi.woff2') format('woff2'),
    url('../fonts/Neutraface2Text-Demi.woff') format('woff'),
    url('../fonts/Neutraface2Text-Demi.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neutraface 2 Text Book';
    src: url('../fonts/Neutraface2Text-Book.eot');
    src: url('../fonts/Neutraface2Text-Book.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Neutraface2Text-Book.woff2') format('woff2'),
    url('../fonts/Neutraface2Text-Book.woff') format('woff'),
    url('../fonts/Neutraface2Text-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neutraface 2 Text Book';
    src: url('../fonts/Neutraface2Text-BookItalic.eot');
    src: url('../fonts/Neutraface2Text-BookItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Neutraface2Text-BookItalic.woff2') format('woff2'),
    url('../fonts/Neutraface2Text-BookItalic.woff') format('woff'),
    url('../fonts/Neutraface2Text-BookItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Neutraface 2 Text';
    src: url('../fonts/Neutraface2Text-Light.eot');
    src: url('../fonts/Neutraface2Text-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Neutraface2Text-Light.woff2') format('woff2'),
    url('../fonts/Neutraface2Text-Light.woff') format('woff'),
    url('../fonts/Neutraface2Text-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neutraface 2 Text';
    src: url('../fonts/Neutraface2Text-Bold.eot');
    src: url('../fonts/Neutraface2Text-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Neutraface2Text-Bold.woff2') format('woff2'),
    url('../fonts/Neutraface2Text-Bold.woff') format('woff'),
    url('../fonts/Neutraface2Text-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neutraface 2 Text';
    src: url('../fonts/Neutraface2Text-BoldItalic.eot');
    src: url('../fonts/Neutraface2Text-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Neutraface2Text-BoldItalic.woff2') format('woff2'),
    url('../fonts/Neutraface2Text-BoldItalic.woff') format('woff'),
    url('../fonts/Neutraface2Text-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Neutraface 2 Text Demi';
    src: url('../fonts/Neutraface2Text-DemiItalic.eot');
    src: url('../fonts/Neutraface2Text-DemiItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Neutraface2Text-DemiItalic.woff2') format('woff2'),
    url('../fonts/Neutraface2Text-DemiItalic.woff') format('woff'),
    url('../fonts/Neutraface2Text-DemiItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Neutraface 2 Text';
    src: url('../fonts/Neutraface2Text-LightItalic.eot');
    src: url('../fonts/Neutraface2Text-LightItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Neutraface2Text-LightItalic.woff2') format('woff2'),
    url('../fonts/Neutraface2Text-LightItalic.woff') format('woff'),
    url('../fonts/Neutraface2Text-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}