@import "./mixins";

html { 
    font-size: 62.5%; 
    overflow-x: hidden;
}

body {
    margin: 0;
    @include font-family(book);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    * {
        box-sizing: border-box;
    }

    &.noScroll {
        position: fixed;
        width: 100%;
        height: 100%;
        left: 0;
        right: 0;
        overflow: visible;
    }
}

button {
    padding: 0;
    background: none;
    border-radius: 0;
    border: none;
    cursor: pointer;
    &:focus {
        outline: none;
        text-decoration: underline;
    }

    &:hover {
        text-decoration: underline;
    }
}

a:link, a:visited, .link-button {
    color: $base-color-primary-blue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:focus {
    text-decoration: underline;
    outline: none;
}

.visually-hidden:not(:focus):not(:active) {
    position: absolute;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    padding:0;
    border:0;
    height: 1px; 
    width: 1px; 
    overflow: hidden;
}

.ob-skip-navigation {
    font-size: 2rem;
    background: $base-color__white;
    padding: 1rem;
    display: block;
}

/* TODO : ADD HOVER EFFECT */
/*a:hover, a:focus, .link-button:hover, .link-button:focus {
    color: $base-color-primary-blue-hover;
}*/

.visuallyhidden {
    position: absolute;
    height: 0;
    width: 0;
    overflow: hidden;
    opacity: 0;
    display: block;
    &.focusable { 
        &:active,
        &:focus {
            position: absolute !important;
            z-index: map-get($zindex, visuallyHidden);
        }
    }
}

.nowrap {
    white-space: nowrap;

    &--only-on-mobile {
        @include media-up(md) {
            white-space: normal;
        }
    }
    
    &--only-on-desktop {
        @include media-down(md) {
            white-space: normal;
        }
    }
}

.eyebrow-1-xl {
    @include eyebrow-1-xl();
}

.layout:not(.ob-spotlight-layout) {
    padding-top: 149px;
    transition: padding ease 0.35s;
    @include media-up(sm) {
        padding-top: 148px;
    }
    @include media-up(md) {
        padding-top: 166px;
    }
}

.particles {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: map-get($zindex, default);
  }

.home-body-zone {
    overflow: hidden;
}

.purple-45-gradient {
    background: linear-gradient(45deg, #294891, #4D0D7C)
}

.pink-45-gradient {
    background: linear-gradient(45deg, #FFF0ED, #E9E4E5)
}

.secondary-grey-background {
    background: $base-color-secondary-grey;
}

.lowercase {
    text-transform: lowercase;
}

.uppercase {
    text-transform: uppercase;
}

.capitalize {
    text-transform: capitalize;
}