@font-face {
  font-family: 'icomoon';
  src:  url('../fonts-icomoon/icomoon.eot?ugzznr');
  src:  url('../fonts-icomoon/icomoon.eot?ugzznr#iefix') format('embedded-opentype'),
    url('../fonts-icomoon/icomoon.ttf?ugzznr') format('truetype'),
    url('../fonts-icomoon/icomoon.woff?ugzznr') format('woff'),
    url('../fonts-icomoon/icomoon.svg?ugzznr#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-littlearrowleft:before {
  content: "\e900";
}
.icon-littlearrowright:before {
  content: "\e901";
}
.icon-io:before {
  content: "\e902";
}
.icon-tag:before {
  content: "\e903";
}
.icon-plus:before {
  content: "\e904";
}
.icon-target:before {
  content: "\e905";
}
.icon-bulle:before {
  content: "\e906";
}
.icon-check:before {
  content: "\e907";
}
.icon-love:before {
  content: "\e908";
}
.icon-star:before {
  content: "\e909";
}
.icon-arrowleft:before {
  content: "\e90a";
}
.icon-arrowright:before {
  content: "\e90b";
}
.icon-hamburger:before {
  content: "\e90c";
}
.icon-eye:before {
  content: "\e90d";
}
.icon-batteryright:before {
  content: "\e90e";
}
.icon-batteryleft:before {
  content: "\e90f";
}
.icon-batteryrightcharged:before {
  content: "\e910";
}
.icon-batteryleftcharged:before {
  content: "\e911";
}
.icon-chevrondown:before {
  content: "\e912";
}
.icon-chevrontop:before {
  content: "\e913";
}
.icon-chevronleft:before {
  content: "\e914";
}
.icon-chevronright:before {
  content: "\e915";
}
.icon-technology:before {
  content: "\e916";
}
.icon-featurestarget:before {
  content: "\e917";
}
.icon-cloud:before {
  content: "\e918";
}
.icon-lightning:before {
  content: "\e919";
}
.icon-featurescut:before {
  content: "\e91a";
}
.icon-pocketwatch:before {
  content: "\e91b";
}
.icon-featuresface:before {
  content: "\e91c";
}
.icon-featuresline:before {
  content: "\e91d";
}
.icon-featuresbrush:before {
  content: "\e91e";
}
.icon-tooth:before {
  content: "\e91f";
}
.icon-5Modes:before {
  content: "\e920";
}
