@import "../../static/styles/mixins";

@keyframes mover {
    0% {
        transform: translateY(0rem) translateX(-50%);
    }

    76% {
        transform: translateY(0rem) translateX(-50%);
    }

    88% {
        transform: translateY(.5rem) translateX(-50%);
        @include media-up(md) {
            transform: translateY(1.5rem) translateX(-50%);
        }
    }

    100% {
        transform: translateY(0rem) translateX(-50%);
    }
}

.one-page-scroll {

    &-wrapper {
        overflow: hidden;
    }
}

.ob-one-page-scroll {

    &-arrow {
        top: auto;
        bottom: .5rem;
        left: 50%;
        transform: translateX(-50%);
        opacity: 0;
        position: fixed;
        transition: all 0.8s ease-in-out;
        z-index: map-get($zindex, header);
        cursor: pointer;

        @include media-up(md) {
            bottom: 1rem;
        }

        &.show-arrow {
            opacity: 1;
            animation-name: mover;
            animation-duration: 5s;
            animation-iteration-count: infinite;
            animation-timing-function: ease;
        }

        svg {
            transition: transform 0.2s ease-out;
        }

        &:hover,
        &:focus {
            svg {
                @include media-up(md) {
                    transform: scale(1.2);
                }
            }
        }
    }
}

.ob-spotlight-layout {
    width: 100%; // Sets each panel to the width and height
    height: 100%; // of the body (which is set to the window)
    position: relative;
    background-repeat: no-repeat;
    background-attachment: fixed; //Sets background fixed in window
    background-size: cover;

    > div {
        width: 100%; // Sets each panel to the width and height
        height: 100%; // of the body (which is set to the window)
    }

    .ob-background-wrapper {
        max-height: 100%;
        height: 100vh;
    }

    .zone.footer {
        display: none;
    }

    .scroller-container {
        left: 0;
        height: calc(100vh - #{$ob-sticky-bar-height});
        overflow: hidden;
        position: fixed;
        top: $ob-sticky-bar-height;
        width: 100%;

        @include media-down(md) {
            height: calc(100vh - #{$ob-sticky-bar-height-mobile});
            top: $ob-sticky-bar-height-mobile;
        }

        .ob-background-wrapper {
            height: 100%;
            min-height: 0;
            padding-top: 0 !important;
        }
    }

    .scroller-container {

        .scroller-content.pre-step {
            pointer-events: none;
        }
    }
}