@import "../../static/styles/mixins";

.ob-page-navigation {

  &.page-navigation--gray-links, &.page-navigation {
    @include media-up(md) {
      background: $base-color-secondary-darker-off-white;
    }
  }

  &__list {
    list-style-type: none;
    padding: 0;
    max-width: $oralb-max-desktop-width;
    margin: 0 auto;
    justify-content: center;
    @include body-4-xl();
    @include media-up(md) {
      display: flex;
    }
  }

  &__list-item {
    text-align: center;
    padding: 1rem;
    border-bottom: 1px solid transparentize($base-color-primary-grey, 0.8);;
    &:first-child {
      margin-top: 1rem;
      border-top: 1px solid transparentize($base-color-primary-grey, 0.8);;
      @include media-up(md) {
        margin-left: 0;
        margin-top: 0;
        border-top: none;
      }
    }
    &:last-child {
      @include media-up(md) {
        margin-right: 0;
      }
    }
    @include media-up(md) {
      text-align: left;
      margin: 0 1.6rem;
      border-bottom: none;
    }
  }

  &__list-link {
    font-size: 1.4rem;
    &.no-underline {
      @include media-up(md) {
        @include font-family('demi');
      }
    }
    &.has-underline {
      @include media-up(md) {
        @include font-family('bold');
        &.is-active {
          &:after {
            content: '';
            display: block;
            width: 100%;
            height: 6px;
            background: $base-color-primary-blue;
            margin-top: 1.6rem;
          }
        }
      }
    }
  }

  &__title {
    @include text-link-2-xs;
    display: block;
    margin: 0 1rem;
    width: 95%;
    outline: none;
  }

  &__icon {
    display: block;
    float: right;
    transform: rotate(0deg);
    transition: all linear 0.35s;
    &.is-open {
      transform: rotate(-180deg);
    }
  }
}