@import "../../static/styles/mixins";

.main-menu {
    background: $base-color__white;
    &.is-active {
        .ob-main-menu__logo--mobile {
            padding-bottom: 2rem;
        }
    }
}
.ob-main-menu {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    max-width: calc(#{$oralb-max-desktop-width} - 71px);
    padding: 2.2rem;
    top: 0;
    margin: 0 auto;
    list-style-type: none;
    @include body-4-xs();
    @include media-up(md) {
        align-items: center;
        padding: 1.6rem;
    }
    @include media-down(md) {
        > :last-child {
            width: 100%;
        }
    }

    ul {
        list-style-type: none;
    }

    &__ctn {
        display: flex;
    }

    &__return-btn {
        @include media-up(md) {
            display: none;
        }
    }
    
    [data-is-language-selector="true"] {
        @include media-up(md) {
            display: none;
        }
    }

    &--desktop {
        display: none;
        @include media-up(md) {
            display: flex;
        }
    }

    &--mobile {
        @include media-up(md) {
            display: none;
        }
    }

    &__logo {
        &--desktop {
            display: none;
            @include media-up(md) {
                display: block;
                margin-right: 3rem;
            }
        }

        &--mobile {
            @include media-up(md) {
                display: none;
            }
        }
        
        .ob-mainAsset-wrapper {
            width: 76px;
            display: flex;
            img {
                max-width: 100%;
                width: 100%;
                height: 100%;
            }
            @include media-up(md) {
                width: 115px;
                height: 40px;
            }
        }

        span {
            position: absolute;
            clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
            clip: rect(1px, 1px, 1px, 1px);
            padding:0;
            border:0;
            height: 1px; 
            width: 1px; 
            overflow: hidden;
        }
        &--ctn {
            width: 100%;
            display: flex;
        }

    }

    &__back-btn + &__logo--link {
        margin: 0 auto;
    }

    &__open-ctn {
        @include media-up(md) {
            display: none;
        }

    }
    .ob-menu-collapsible {
        overflow: auto;
    }

    &__list {
        padding: 0;
        margin: 0;
        width: 100%;
        background: $base-color__white;
        z-index: map-get($zindex, menuList);
        transition: all 0.35s ease;

        @include media-up(md) {
            display: flex;
            position: static;
            background: none;
            opacity: 1;
            visibility: visible;
            pointer-events: initial;
            width: auto;
            height: 100%;
            max-width: 74rem;
            align-items: center;
        }

        @include media-up(lg) {
            max-width: 90rem;
        }

        &.is-subnav-active {
            overflow: hidden;
        }

        // &--desktop {
        //     display: none;
        //     @include media-up(md) {
        //         display: block;
        //     }
        // }

        // &--mobile {
        //     @include media-up(md) {
        //         display: none;
        //     }
        // }

        &--item {
            margin: 10px 0;
            list-style-type: none;
            background: $base-color-secondary-off-white;
            padding: 2rem 0;
            font-size: 1.3rem;
            @include font-family('demi');
            &[data-is-logo="true"] {
                display: none;
            }
            
            @include media-up(md) {
                padding: 2rem;
                button {
                    text-align: left;
                }

                .ob-main-menu__subNav--btn-title, a span {
                    line-height: 1.4;
                }
            }



            > a {
                @include media-down(md) {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    letter-spacing: 0.5px;
                }
                > div {
                    @include media-up(md) {
                        display: none;
                    }
                }
            }

            &:not(.no-img) {
                > a {
                    @include media-down(md) {
                        justify-content: space-around;
                    }
                }
            }

            &.no-img {
                @include media-down(md) {
                    background: none;
                    border-top: 1px solid $base-color-secondary-grey;
                    padding: 1rem 2rem 0;
                    a, .ob-main-menu__subNav--btn-title {
                        color: $base-color-primary-grey;
                    }
                    
                    .ob-main-menu__link--name {
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                    }
                    
                    .ob-main-menu__subNav--btn {
                        width: 100%;
                        > span {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            width: 100%;
                        }
                    } 
    
                    &:last-child {
                        padding: 1rem 2rem;
                        border-bottom: 1px solid $base-color-secondary-grey;
                    }
                }
            }
            

            @include media-up(md) {
                margin: 0 5px;
                padding: 0;
                background: none;
                max-width: 20%;

                .link-button {
                    @include media-up(md) {
                        height: 40px;
                    }
                    > span {
                        display: flex;
                        align-items: center;
                    }
                }

                .link-button.is-active {
                    &:after {
                        content: "";
                        display: block;
                        height: 4px;
                        width: 100%;
                        position: absolute;
                        left: 0;
                        bottom: -1.7rem;
                        background: $base-color-primary-blue;
                    }
                    &:focus {
                        outline: none;
                        > span {
                            outline: none;
                        }
                    }
                }
            }

            @include media-up(lg) {
                margin: 0 25px;
            }
        }
    }

    &__link {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        &--name {
            width: 50%;
            text-align: left;
        }

        .ob-icon {
            margin-left: 1rem;
        }
    }

    &__search--ctn {
        margin-left: auto;
        display: none;
        @include media-up(md) {
            display: block
        }
    }

    &__subNav {

        &--btn {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            position: relative;
            letter-spacing: 0.5px;
            width: 100%;
            @include media-up(md) {
                width: auto;
                flex-wrap: nowrap;
            }
        }

        &--btn-title {
            margin-right: 0.5rem;
        }

        &--btn-ctn {
            display: flex;
            align-items: center;
            text-align: left;
            width: 100%;
            justify-content: space-around;
        }

        &--ctn {
            position: absolute;
            background: $base-color__white;
            width: 100vw;
            max-width: 100vw;
            top: 6.8rem;
            left: 0;
            opacity: 0;
            visibility: hidden;
            pointer-events: none;
            padding: 2rem;
            transform: translateX(-100%);
            transition: all 0.35s ease;
            &#Hierarchy---More-Products {
                .ob-sub-navigation {
                    a > span {
                        @include media-down(md) {
                            white-space: nowrap;
                        }
                    }
                    @include media-up(md) {
                        width: 30%;
                        max-width: 410px;
                        &:first-child {
                            width: 70%;
                            max-width: 1000px;
                            .ob-sub-navigation__title {
                                text-align: center;
                            }
                        }
                    }
                }
            }

            &#Hierarchy---Learn {
                .ob-sub-navigation {
                    @include media-up(md) {
                        width: 33.3%;
                        height: 100%;
                        max-width: 350px;
                    }
                }
            }
            &#Hierarchy---More-Products, &#Hierarchy---Learn {
                @include media-down(md) {
                    top: 5.7rem;
                }

                .ob-sub-navigation {
                    @include media-up(md) {
                        margin-top: 0.4rem;
                    }
                    &__title {
                        @include media-up(lg) {
                            margin: 0 0 1rem;
                        }
                    }
                }
            }

            &#Hierarchy---Electric-toothbrushes {
                @include media-up(md) {
                    flex-wrap: nowrap;
                }
                .ob-sub-navigation {
                    @include media-ie() {
                        flex: 0 1 33.33%;
                        padding: 0 1rem;
                    }
                }
            }

            @include media-up(md) {
                background: $base-color-secondary-off-white;
                position: absolute;
                display: flex;
                align-items: flex-start;
                flex-wrap: wrap;
                justify-content: space-around;
                top: 7.5rem;
                left: 50%;
                transform: translateX(-50%);
                transition: opacity 0.35s ease, visibility 0.35s ease;
                padding: 4rem;
                @include media-up(xlg) {
                    justify-content: center;
                }
            }

            a {
                opacity: 0;
                visibility: hidden;
                pointer-events: none;
            }
            
            &.is-active {
                opacity: 1;
                visibility: visible;
                pointer-events: initial;
                height: 100vh;
                max-height: 100vh;
                overflow: auto;
                z-index: map-get($zindex, activeMenuSubNav);
                transform: translateX(0);
                a {
                    opacity: 1;
                    visibility: visible;
                    pointer-events: initial; 
                }
                @include media-up(md) {
                    max-height: none;
                    left: 50%;
                    height: calc(100vh - 115px);
                    transform: translateX(-50%);
                }
            }

            .ob-main-menu__list {
                position: static;
                visibility: visible;
                pointer-events: inherit;
                opacity: 1;

                &--item {
                    margin-top: 4rem;
                }
            }

        }

        &--close-btn {
            display: none;
            position: absolute;
            right: 4rem;
            top: 3rem;
            z-index: map-get($zindex, menuSubNavCloseBtn);

            @include media-up(md) {
                display: block;
            }

            button {
                transition: transform ease 0.35s;
                &:hover, &:focus {
                    transform: scale(1.3)
                }
            }
        }
    }
}

.ob-sub-navigation {
    .ob-mainAsset-wrapper {
        @include media-down(md) {
            img {
                display: block;
                margin: 0 auto;
                max-height: 24.3rem;
            }
        }
        @include media-up(md) {
            width: 58%;
            display: flex;
            justify-content: center;
            img {
                max-height: 50rem;
                max-width: 50rem;
            }
        }
    }
    @include media-up(md) {
        margin-top: 4rem;
        border-right: 1px solid transparentize($base-color-primary-grey, 0.9);
        padding: 0 5rem;
        &:nth-last-of-type(2) {
            border-right: none;
        }
    }

    a {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        span {
            @include media-down(md) {
                color: $base-color-primary-blue;
            }
        }
        @include media-up(md) {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            font-size: 1.6rem;
            color: $base-color-primary-grey;

            > :first-child {
                width: 100%;
            }
        }

        svg {
            margin: 0 0.5rem;
            @include media-down(md) {
                width: 1.2rem;
                height: 1.2rem;
            }
        }

        > span {
            justify-self: flex-end;
            @include media-up(md) {
                margin: 0 0.5rem;
            }
        }
    }

    &__title {
        @include display-3-xl();
        @include media-up(md) {
            text-align: left;
        }
        @include media-up(lg) {
            font-size: 3.6rem;
            margin: 1rem 0;
        }
        @include media-down(md) {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            border-bottom: 1px solid $base-color-secondary-grey;
            padding: 1rem 0; 
            &:hover, &:focus {
                text-decoration: none;
            }
        }

        &--desktop {
            display: none;
            @include media-up(md) {
                display: block;
            }
        }

        &--mobile {
            &:focus {
                text-decoration: none;
            }
            @include media-up(md) {
                display: none;
            }
        }
    }

    &__list {
        padding: 0;
        overflow: hidden;

        li {
            padding: 1rem 0;
            border-bottom: 1px solid $base-color-secondary-grey;
            @include media-up(md) {
                padding: 0.2rem 0;
                border-bottom: none;
            }
            
            a {
                display: flex;
                justify-content: space-between;
                @include media-down(md) {
                    padding: 0 1rem 0 6rem;
                }
            }

            &:not(.no-img) {
                a {
                    @include media-down(md) {
                        padding: 0;
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        justify-items: center;
                    }
                }
            }
            .ob-icon {
                width: 0.6rem;
                @include media-up(md) {
                    width: 1.8rem;
                    position: relative;
                    bottom: 2px;
                }
            }
            
            &.no-img {
                @include media-down(md) {
                    a {

                        > span {
                            margin: 0;
                        }
                    }
                }
            }
        }

        .ob-main-menu__list:not(#Hierarchy---More-Products---By-Type) {
            @include media-up(md) {
                display: block;
            }
        }

        #Hierarchy---More-Products---By-Type {
            @include media-up(md) {
                display: grid;
                grid-template-columns: repeat(3, 1fr);

                li {
                    height: 100%;
                    border-right: 1px solid transparentize($base-color-primary-grey, 0.9);
                    border-bottom: 1px solid transparentize($base-color-primary-grey, 0.9);
                    &:nth-child(3), &:nth-child(6) {
                        border-right: none;
                    }
                    &:nth-child(n+4) {
                        border-bottom: none;

                        span {
                            margin-top: 3.5rem;
                        }
                    }
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    align-items: center;
                    a span {
                        width: 100%;
                        text-align: center;
                        margin: 1rem 0.5rem 0.5rem;
                    }
                }
            }
            @include media-ie() {
                display: flex;
                flex-wrap: wrap;
                li {
                    height: 245px;
                    width: 33.33%;
                }
            }
        }
        .ob-sub-navigation--item.no-img {
            a {
                @include media-down(md) {
                    padding: 0 1rem;
                    font-size: 1.4rem;

                    &:focus {
                        span {
                            color: $base-color-primary-blue;
                            text-decoration: none;
                        }
                    }
                }
                span {
                    @include media-down(md) {
                        width: 100%;
                        color: $base-color-primary-grey;
                    }
                }
    
                svg {
                    @include media-down(md) {
                        float: right;
                        fill: $base-color-primary-grey;
                    }
                }
            }
        }
    }


    .no-img {
        width: 100%;
        @include media-up(md) {
            a {
                padding: 1.5rem 0 1rem;
                color: $base-color-primary-grey;
                transition: all ease 0.35s;

                &:hover,&:focus {
                    background: $base-color-primary-blue;
                    color: $base-color__white;
                }
            }
        }
    }
}